### SQLite
- 파이썬에 내장되어있음 (핸드폰에도 내장되어있음)

In [ ]:
import sqlite3
conn = sqlite3.connect('test.sqlite')

In [ ]:
# 한 행을 딕셔너리로 출력하기 위해
# 함수를 만들어서 conn.row_factory 매서드에 오버라이드
def dictFactory(cursor, row):
    d={}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d
conn.row_factory = dictFactory

In [ ]:
cur = conn.cursor() # 커서객체
# execute() : 하나의 실행문
# executescript() : 2개 이상의 실행문
# 자동완성(tab키)이 안되는 경우가 있는데 해당 변수가 
# 메모리에 로드가 되지 않았기 때문 -> 변수가 있는 cell을 한번 실행시켜야함
cur.executescript('''
drop table if exists test;
create table test(
    no integer primary key,
    name varchar,
    email varchar
)
''')
cur.executescript('''
insert into test (no, name, email) values (1, '홍길동', 'hong@gmail.com');
insert into test (no, name, email) values (2, '김길동', 'kim@gmail.com');
insert into test (no, name, email) values (3, '최길동', 'choi@gmail.com');
''')
conn.commit()

In [ ]:
cur.execute('SELECT * FROM test')
result = cur.fetchall()

In [ ]:
result

In [ ]:
for r in result:
    print(r['name'])

In [ ]:
cur.close()
conn.close()

## mysql

In [ ]:
# pymysql 설치
!pip install pymysql

# 설치 중에 콘솔창에서 추가로 명령어를 입력해야하는 경우에는 사용하면 안됨

In [ ]:
import pymysql
conn = pymysql.connect(host='localhost', user='root', password='root1234',
                      db='project', charset='utf8')

In [ ]:
# cur = conn.cursor()
# 딕셔너리로 가져오기
cur = conn.cursor(pymysql.cursors.DictCursor)
cur.execute('select * FROM board')
result = cur.fetchall()
result

In [ ]:
for r in result[20:35]:
    print(r['no'], r['title'])

In [ ]:
# 데이터프레임으로 변환
import pandas as pd
df = pd.DataFrame(result[:10])
df

In [ ]:
cur.close()
conn.close()

### Oracle

In [ ]:
# 패키지 설치
!pip install cx_Oracle

In [ ]:
import cx_Oracle
conn = cx_Oracle.connect("testuser/test1234@localhost:1521/xe")

In [ ]:
cur = conn.cursor()
cur.execute("SELECT * from mvcboard")
result = cur.fetchall()
result

In [ ]:
for r in result:
    print(r)

In [ ]:
cur.description

In [ ]:
'''
cur.description을 이용해서
반복문 안에서 딕셔너리로 변환해서 r['name'] 출력
'''

for r in result:
#     r = dictFactory(cur, r)
    r = dict(zip([d[0] for d in cur.description], r))
    print(r['TITLE'], r['NAME'])