In [43]:
import pandas as pd
bbs = pd.read_csv('BIBLE.txt', sep='\t', encoding='ms949')

In [45]:
bbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31088 entries, 0 to 31087
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Regnum             31088 non-null  int64
 1   Bible_OldNew       31088 non-null  object
 2   Bible_Title        31088 non-null  object
 3   Bible_Num          31088 non-null  int64
 4   Bible_First_Page   31088 non-null  int64
 5   Bible_Second_Page  31088 non-null  int64
 6   Bible_Content      31088 non-null  object
dtypes: int64(4), object(3)
memory usage: 1.7+ MB

In [44]:
bbs.tail()

,Regnum,Bible_OldNew,Bible_Title,Bible_Num,Bible_First_Page,Bible_Second_Page,Bible_Content
31083,31084,신약,요한계시록,27,22,17,성령과 신부가 말씀하시기를 오라 하시는도다 듣는 자도 오라 할 것이요 목마른 자도 ...
31084,31085,신약,요한계시록,27,22,18,내가 이 두루마리의 예언의 말씀을 듣는 모든 사람에게 증언하노니 만일 누구든지 이것...
31085,31086,신약,요한계시록,27,22,19,만일 누구든지 이 두루마리의 예언의 말씀에서 제하여 버리면 하나님이 이 두루마리에 ...
31086,31087,신약,요한계시록,27,22,20,이것들을 증언하신 이가 이르시되 내가 진실로 속히 오리라 하시거늘 아멘 주 예수여 ...
31087,31088,신약,요한계시록,27,22,21,주 예수의 은혜가 모든 자들에게 있을지어다 아멘

In [26]:
import csv
import pandas as pd
bbs = pd.read_csv(f'INCOBOARD_BBS_utf.txt', sep='\t', encoding='utf8')
for i in range(2,6):
    temp = pd.read_csv(f'INCOBOARD_BBS_{i}_utf.txt', sep='\t', encoding='utf8')
    bbs = pd.concat([bbs, temp])
bbs.info()

C:\Users\tjoeun-jr-902-02\AppData\Local\Temp\ipykernel_12632\1591264727.py:3: DtypeWarning: Columns (2,4,5,6,11,12,14,17,21,23,24,26) have mixed types. Specify dtype option on import or set low_memory=False.
  bbs = pd.read_csv(f'INCOBOARD_BBS_utf.txt', sep='\t', encoding='utf8')
C:\Users\tjoeun-jr-902-02\AppData\Local\Temp\ipykernel_12632\1591264727.py:5: DtypeWarning: Columns (2,4,5,6,11,12,21) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(f'INCOBOARD_BBS_{i}_utf.txt', sep='\t', encoding='utf8')
C:\Users\tjoeun-jr-902-02\AppData\Local\Temp\ipykernel_12632\1591264727.py:5: DtypeWarning: Columns (2,4,5,6,11,12,21) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(f'INCOBOARD_BBS_{i}_utf.txt', sep='\t', encoding='utf8')
C:\Users\tjoeun-jr-902-02\AppData\Local\Temp\ipykernel_12632\1591264727.py:5: DtypeWarning: Columns (2,4,5,6,11,12,21) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(f'INCOBOARD_BBS_{i}_utf.txt', sep='\t', encoding='utf8')
C:\Users\tjoeun-jr-902-02\AppData\Local\Temp\ipykernel_12632\1591264727.py:5: DtypeWarning: Columns (2,4,5,6,11,12,17,21) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(f'INCOBOARD_BBS_{i}_utf.txt', sep='\t', encoding='utf8')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9898488 entries, 0 to 1767570
Data columns (total 27 columns):
 #   Column       Dtype
---  ------       -----
 0   Regnum       object
 1   Regdate      object
 2   Regwrite     object
 3   Bbs_Id       object
 4   Name         object
 5   Userid       object
 6   Email        object
 7   Hit          float64
 8   Title        object
 9   Content      object
 10  Good         float64
 11  Pass         object
 12  Userip       object
 13  Ref          float64
 14  Re_level     object
 15  Step         float64
 16  ReIdx        float64
 17  Num          object
 18  Doccheck     float64
 19  Ncheck       float64
 20  Notice       float64
 21  File_        object
 22  Now_Select   float64
 23  Sub_Content  object
 24  Sub_Id       object
 25  Cmt_Count    float64
 26  FlvLink      object
dtypes: float64(10), object(17)
memory usage: 2.1+ GB

In [61]:
bbs['Good'].value_counts()
bbs['Good'].value_counts()
bbs['Good'].value_counts()
bbs['Good'].value_counts()
bbs['Step'].value_counts()

0.0    22264
1.0        1
Name: Step, dtype: int64

In [2]:
bbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1767571 entries, 0 to 1767570
Data columns (total 27 columns):
 #   Column       Dtype
---  ------       -----
 0   Regnum       object
 1   Regdate      object
 2   Regwrite     object
 3   Bbs_Id       object
 4   Name         object
 5   Userid       object
 6   Email        object
 7   Hit          float64
 8   Title        object
 9   Content      object
 10  Good         float64
 11  Pass         object
 12  Userip       object
 13  Ref          float64
 14  Re_level     float64
 15  Step         float64
 16  ReIdx        float64
 17  Num          object
 18  Doccheck     float64
 19  Ncheck       float64
 20  Notice       float64
 21  File_        object
 22  Now_Select   float64
 23  Sub_Content  float64
 24  Sub_Id       float64
 25  Cmt_Count    float64
 26  FlvLink      float64
dtypes: float64(14), object(13)
memory usage: 364.1+ MB

In [3]:
bbs.head()

,Regnum,Regdate,Regwrite,Bbs_Id,Name,Userid,Email,Hit,Title,Content,...,Num,Doccheck,Ncheck,Notice,File_,Now_Select,Sub_Content,Sub_Id,Cmt_Count,FlvLink
0,800696,2015-08-29 06:51:48.880000000,NaN,sub4_2_n4,NaN,NaN,NaN,0.0,쨔챈쨍챠쨌횕 째횚쩍횄짹횤,We've got a joint account &lt;a href=&quot; ht...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,0,NaN,188.143.232.70,406300.0,0.0,0.0,0.0,406300,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,800697,2015-08-29 06:51:50.943000000,NaN,sub4_2_n4,NaN,NaN,NaN,0.0,쨔챈쨍챠쨌횕 째횚쩍횄짹횤,An estate agents &lt;a href=&quot; http://www....,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,0,NaN,188.143.232.70,406301.0,0.0,0.0,0.0,406301,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,800698,2015-08-29 06:51:52.957000000,NaN,sub4_2_n4,NaN,NaN,NaN,0.0,쨔챈쨍챠쨌횕 째횚쩍횄짹횤,Who's calling? &lt;a href=&quot; http://www.or...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# bbs['Doccheck'].value_counts() #  0.0 : 537, 나머지 : NaN
# bbs['Ncheck'].value_counts() #  0.0 : 537, 나머지 : NaN
bbs[bbs['FlvLink'].isnull() == False]

,Regnum,Regdate,Regwrite,Bbs_Id,Name,Userid,Email,Hit,Title,Content,...,Num,Doccheck,Ncheck,Notice,File_,Now_Select,Sub_Content,Sub_Id,Cmt_Count,FlvLink
13371,2279,2010-01-16 15:48:03.233000000,2010-01-16 오후 3:47:40,sub5_9,관리자,admin,NaN,280.0,2009 크리스마스 전야제,,...,1,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,20091224-221147.WMV
13435,2302,2010-01-17 16:59:50.113000000,2010-01-17 오후 4:58:58,sub2_3,관리자,admin,NaN,759.0,2010년 1월 17일 주일오전예배 요한복음 2장1-10절 삶의 기적은 예수님과 상...,&lt;iframe width=&quot;560&quot; height=&quot...,...,7,0.0,0.0,0.0,",2010117[9].jpg",0.0,본문:요한복음 2장1-10절 제목:삶의 기적은 예수님과 상관이 있습니다.,NaN,0.0,20100117-120446.wmv
13779,2410,2010-01-31 16:59:11.723000000,2010-01-31 오후 4:57:07,sub2_3,관리자,admin,NaN,690.0,2010년 1월 31일 주일오전예배 누가복음 18장 35-43절 내 인생 최고의 기...,&lt;iframe width=&quot;560&quot; height=&quot...,...,9,0.0,0.0,0.0,",2010131.jpg",0.0,본문:누가복음 18장 35-43절 제목: 내 인생 최고의 기회 예수그리스도,NaN,0.0,20100131-120131.wmv
18295,2914,2010-05-16 14:45:41.627000000,2010-05-16 오후 2:42:46,sub2_3,관리자,admin,NaN,805.0,"2010년 5월 16일 주일오전예배 요한복음 14장 16-20절, 성령으로 함께 하...",&lt;iframe width=&quot;560&quot; height=&quo...,...,24,0.0,0.0,0.0,",2010516.jpg",0.0,"본문:요한복음 14장 16-20절, 제목: 성령으로 함께 하시는 그리스도 예수",NaN,0.0,
18586,3000,2010-06-06 14:47:57.073000000,2010-06-06 오후 2:45:36,sub2_3,관리자,admin,NaN,809.0,"2010년 6월 6일 주일오전예배(본문:사사기 7장 16-25절, 제목: 승리하는 ...",&lt;iframe width=&quot;560&quot; height=&quot...,...,27,0.0,0.0,0.0,",201066.jpg",0.0,NaN,NaN,0.0,
20002,3125,2010-08-22 17:45:52.800000000,2010-08-22 오후 5:42:55,sub5_9,관리자,admin,NaN,273.0,남가주 빛내리교회 찬양팀 합창(8.15광복절 65주년 기념 감사예배 및 축하 콘서트),,...,2,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,2010-08-22.wmv
21095,3190,2010-09-19 17:56:20.510000000,2010-09-19 오후 5:55:29,sub2_3,관리자,admin,NaN,869.0,"2010년 9월 19일 주일오전예배(본문:히브리서 11장 13-16절, 제목: 진정...",,...,42,0.0,0.0,0.0,",2010919.jpg",0.0,NaN,NaN,0.0,20100919-120552.AVI
22368,3307,2010-12-12 17:39:45.473000000,2010-12-12 오후 5:36:40,sub2_3,관리자,admin,NaN,718.0,"2010년 12월 12일 주일오전예배(본문:누가복음 2장 8-20절, 제목: 순종...",&lt;iframe width=&quot;560&quot; height=&quot...,...,54,0.0,0.0,0.0,",20101212.jpg",0.0,NaN,NaN,0.0,20101212-120722.wmv
22407,3334,2010-12-26 14:37:31.883000000,2010-12-26 오후 2:35:43,sub2_3,관리자,admin,NaN,885.0,"2010년 12월 26일 주일오전예배(본문:사무엘상 7장 12-14절, 제목: 올해...",,...,57,0.0,0.0,0.0,",20101226.jpg",0.0,NaN,NaN,0.0,20101226-120641.wmv
23339,3375,2011-01-01 03:21:46.427000000,2011-01-01 오전 3:15:53,sub2_3,관리자,admin,NaN,812.0,"2010년 12월 31일 송구영신예배(본문:창세기 13장 14-18절, 제목: 하나...",,...,58,0.0,0.0,0.0,",201111.jpg",0.0,NaN,NaN,0.0,20110101-000059.wmv
23353,3379,2011-01-02 19:17:49.323000000,2011-01-02 오후 7:14:52,sub5_9,관리자,admin,NaN,154.0,2010년 성탄전야제 행사_ 중고등부,,...,3,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,101224-01 중고등부.wmv
23354,3380,2011-01-02 19:22:28.977000000,2011-01-02 오후 7:21:29,sub5_9,관리자,admin,NaN,164.0,2010년 성탄전야제 발표_2여선교회,,...,4,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,101224-02 여선교회2.wmv
23355,3381,2011-01-02 19:25:31.430000000,2011-01-02 오후 7:24:30,sub5_9,관리자,admin,NaN,236.0,2010년 성탄전야제 발표_ 이문희 반주자,,...,5,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,101224-03 이문희 독주.wmv
23356,3382,2011-01-02 19:26:50.583000000,2011-01-02 오후 7:25:45,sub5_9,관리자,admin,NaN,159.0,2010년 성탄전야제 발표_ 정수혜 집사님,,...,6,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,101224-04 정수혜.wmv
23357,3383,2011-01-02 19:27:42.193000000,2011-01-02 오후 7:26:54,sub5_9,관리자,admin,NaN,144.0,2010년 성탄전야제 발표_ 임순자 성도님,,...,7,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,101224-05 임순자.wmv
23358,3384,2011-01-02 19:29:58.880000000,2011-01-02 오후 7:28:42,sub5_9,관리자,admin,NaN,259.0,2010년 성탄전야제 발표_ 청년부,청년부와 함께하는 퀴즈쇼,...,8,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,101224-06 청년부.wmv
23359,3385,2011-01-02 19:31:56.020000000,2011-01-02 오후 7:30:22,sub5_9,관리자,admin,NaN,240.0,2010년 성탄전야제 발표_ 은혜의 잔,예수님의 탄생,...,9,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,101224-07 은혜의잔.wmv
23360,3386,2011-01-02 19:33:10.897000000,2011-01-02 오후 7:32:18,sub5_9,관리자,admin,NaN,273.0,2010년 성탄전야제 발표_ 1여선교회,,...,10,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,101224-08 여선교회1.wmv
23361,3387,2011-01-02 19:34:47.520000000,2011-01-02 오후 7:33:57,sub5_9,관리자,admin,NaN,343.0,2010년 성탄전야제 발표_주일학교,내가 만난 예수님,...,11,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,101224-09 주일학교.wmv
23362,3388,2011-01-02 19:35:32.070000000,2011-01-02 오후 7:35:05,sub5_9,관리자,admin,NaN,351.0,2010년 성탄전야제 발표_ 성가대,,...,12,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,101224-10 성가대.wmv
26903,3735,2011-08-27 20:55:56.333000000,2011-08-27 오후 8:54:35,sub5_9,관리자,admin,NaN,312.0,담임목사님 다이빙1_경포 해수욕장,,...,14,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,video-2011-08-15-16-42-29.wmv
26904,3736,2011-08-27 20:57:23.697000000,2011-08-27 오후 8:56:52,sub5_9,관리자,admin,NaN,321.0,담임목사님 다이빙2_경포 해수욕장,,...,15,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,video-2011-08-15-16-44-13.wmv

In [33]:
bbs.tail(20)

,Regnum,Regdate,Regwrite,Bbs_Id,Name,Userid,Email,Hit,Title,Content,...,Num,Doccheck,Ncheck,Notice,File_,Now_Select,Sub_Content,Sub_Id,Cmt_Count,FlvLink
1767551,948319,2020-03-15 11:59:03.400000000,2020-03-15 오전 11:58:31,sub2_3,관리자,admin,NaN,13.0,2020년 3월 8일 주일오전예배 - 세상을 이기는 그리스도의 사랑,&lt;iframe width=&quot;560&quot; height=&quot;...,...,539.0,0.0,0.0,0.0,",2020315[1].jpg",0.0,NaN,NaN,0.0,NaN
1767552,948320,2020-03-15 11:59:49.040000000,2020-03-15 오전 11:59:29,sub2_3,관리자,admin,NaN,5.0,2020년 3월 15일 주일오전예배 -죽음을 기억하라,&lt;iframe width=&quot;560&quot; height=&quot;...,...,540.0,0.0,0.0,0.0,",2020315[2].jpg",0.0,NaN,NaN,0.0,NaN
1767553,948321,2020-03-22 12:16:13.907000000,2020-03-22 오후 12:15:42,sub2_3,관리자,admin,NaN,4.0,2020년 3월 22일 주일오전예배 - 원망말고 주의 자비와 긍휼을 기다리자,&lt;iframe width=&quot;560&quot; height=&quot;...,...,541.0,0.0,0.0,0.0,",2020322.jpg",0.0,NaN,NaN,0.0,NaN
1767554,948322,2020-03-29 12:11:19.800000000,2020-03-29 오후 12:08:22,sub2_3,관리자,admin,NaN,9.0,2020년 3월 29일 주일오전예배 (본문: 이사야 53:1-6 그리스도 고난의 의미),&lt;iframe width=&quot;560&quot; height=&quot;...,...,542.0,0.0,0.0,0.0,",2020329.jpg",0.0,NaN,NaN,0.0,NaN
1767555,948323,2020-04-05 12:21:06.077000000,2020-04-05 오후 12:20:34,sub2_3,관리자,admin,NaN,4.0,2020년 4월 5일 주일오전예배 (본문: 마가복음 11:1-10 주께서 쓰시겠다...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,543.0,0.0,0.0,0.0,",202045.jpg",0.0,NaN,NaN,0.0,NaN
1767556,948324,2020-04-12 12:06:05.283000000,2020-04-12 오후 12:05:07,sub2_3,관리자,admin,NaN,14.0,2020년 4월 12일 주일오전예배 (본문: 누가복음 24:1-6 예수 살아나셨느니라),&lt;iframe width=&quot;560&quot; height=&quot;...,...,544.0,0.0,0.0,0.0,",2020412.jpg",0.0,NaN,NaN,0.0,NaN
1767557,948325,2020-04-19 12:14:40.617000000,2020-04-19 오후 12:14:14,sub2_3,관리자,admin,NaN,7.0,2020년 4월 19일 주일오전예배 (본문: 역대하 1:7-13 하나님 마음에 드...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,545.0,0.0,0.0,0.0,",2020419.jpg",0.0,NaN,NaN,0.0,NaN
1767558,948326,2020-04-26 12:08:41.120000000,2020-04-26 오후 12:07:30,sub2_3,관리자,admin,NaN,6.0,2020년 4월 26일 주일오전예배 (본문: 시편 39:1-7 주여 무엇을 바라리요),&lt;iframe width=&quot;560&quot; height=&quot;...,...,546.0,0.0,0.0,0.0,",2020426.jpg",0.0,NaN,NaN,0.0,NaN
1767559,948327,2020-05-03 12:09:17.330000000,2020-05-03 오후 12:08:00,sub2_3,관리자,admin,NaN,7.0,2020년 5월 3일 주일오전예배 (본문: 잠언 3:1-10 자녀들에게 믿음의 유...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,547.0,0.0,0.0,0.0,",202053.jpg",0.0,NaN,NaN,0.0,NaN
1767560,948328,2020-05-10 12:07:29.090000000,2020-05-10 오후 12:06:25,sub2_3,관리자,admin,NaN,74.0,2020년 5월 10일 주일오전예배 (본문: 사무엘하 18:28-33 하나님이 주...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,548.0,0.0,0.0,0.0,",2020510.jpg",0.0,NaN,NaN,0.0,NaN
1767561,948329,2020-05-17 12:15:44.347000000,2020-05-17 오후 12:14:06,sub2_3,관리자,admin,NaN,4.0,2020년 5월 17일 주일오전예배 (본문: 에베소서 5:22-33 가정의 시작인...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,549.0,0.0,0.0,0.0,",2020517.jpg",0.0,NaN,NaN,0.0,NaN
1767562,948330,2020-05-24 12:10:47.840000000,2020-05-24 오후 12:10:20,sub2_3,관리자,admin,NaN,4.0,2020년 5월 24일 주일오전예배 (본문: 시편 119:97-104 참된 스승인...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,550.0,0.0,0.0,0.0,",2020524.jpg",0.0,NaN,NaN,0.0,NaN
1767563,948331,2020-05-31 10:07:50.923000000,2020-05-31 오전 10:07:00,sub2_3,관리자,admin,NaN,9.0,2020년 5월 31일 주일오전예배 (본문: 고린도전서 12:12-27 아름답고 ...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,551.0,0.0,0.0,0.0,",2020531.jpg",0.0,NaN,NaN,0.0,NaN
1767564,948332,2020-06-07 10:05:43.730000000,2020-06-07 오전 9:55:16,sub2_3,관리자,admin,NaN,15.0,2020년 6월 7일 주일오전예배 (본문: 요한복음 16:7-13 성령이 오셨네),&lt;iframe width=&quot;560&quot; height=&quot;...,...,552.0,0.0,0.0,0.0,",202067.jpg",0.0,NaN,NaN,0.0,NaN
1767565,948333,2020-06-14 12:09:21.973000000,2020-06-14 오후 12:08:46,sub2_3,관리자,admin,NaN,35.0,2020년 6월 14일 주일오전예배 (본문: 빌립보서 4:10-13 부족함이 없으...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,553.0,0.0,0.0,0.0,",2020614.jpg",0.0,NaN,NaN,0.0,NaN
1767566,948334,2020-06-21 13:26:31.277000000,2020-06-21 오후 1:26:19,sub2_3,관리자,admin,NaN,38.0,2020년 6월 21일 주일오전예배 (본문: 에베소서 5:15-21 어떻게 행할 ...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,554.0,0.0,0.0,0.0,",2020621.jpg",0.0,NaN,NaN,0.0,NaN
1767567,948335,2020-06-28 13:02:27.120000000,2020-06-28 오후 1:01:32,sub2_3,관리자,admin,NaN,31.0,2020년 6월 28일 주일오전예배 (본문: 시편 50:22-23 감사로 생활하자),&lt;iframe width=&quot;560&quot; height=&quot;...,...,555.0,0.0,0.0,0.0,",2020628.jpg",0.0,NaN,NaN,0.0,NaN
1767568,948336,2020-07-05 13:19:23.040000000,2020-07-05 오후 12:54:46,sub2_3,관리자,admin,NaN,38.0,2020년 7월 5일 주일오전예배 (본문: 시편 107:1-9 여호와의 구원을 감...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,556.0,0.0,0.0,0.0,",202075.jpg",0.0,NaN,NaN,0.0,NaN
1767569,948337,2020-07-12 13:51:03.290000000,2020-07-12 오후 1:11:51,sub2_3,관리자,admin,NaN,28.0,2020년 7월 12일 주일오전예배 (본문: 누가복음 10:25-28 하나님의 사...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,557.0,0.0,0.0,0.0,",2020712.jpg",0.0,NaN,NaN,0.0,NaN
1767570,948338,2020-07-19 13:28:15.440000000,2020-07-19 오후 1:27:40,sub2_3,관리자,admin,NaN,33.0,2020년 7월 19일 주일오전예배 (본문: 누가복음 8:1-15 말씀으로 인내하...,&lt;iframe width=&quot;560&quot; height=&quot;...,...,558.0,0.0,0.0,0.0,",2020719.jpg",0.0,NaN,NaN,0.0,NaN

In [31]:
bbs[bbs['Bbs_Id'] == 'sub2_3'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 557 entries, 12749 to 1767570
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Regnum       557 non-null    object
 1   Regdate      557 non-null    object
 2   Regwrite     557 non-null    object
 3   Bbs_Id       557 non-null    object
 4   Name         557 non-null    object
 5   Userid       557 non-null    object
 6   Email        0 non-null      object
 7   Hit          557 non-null    float64
 8   Title        557 non-null    object
 9   Content      554 non-null    object
 10  Good         547 non-null    float64
 11  Pass         547 non-null    object
 12  Userip       547 non-null    object
 13  Ref          547 non-null    float64
 14  Re_level     547 non-null    object
 15  Step         547 non-null    float64
 16  ReIdx        547 non-null    float64
 17  Num          547 non-null    object
 18  Doccheck     547 non-null    float64
 19  Ncheck       547 non-null    float64
 20  Notice       547 non-null    float64
 21  File_        547 non-null    object
 22  Now_Select   547 non-null    float64
 23  Sub_Content  34 non-null     object
 24  Sub_Id       0 non-null      object
 25  Cmt_Count    540 non-null    float64
 26  FlvLink      8 non-null      object
dtypes: float64(10), object(17)
memory usage: 121.8+ KB

In [62]:
bbs[bbs.loc[:,'Regnum'] == '948322']['Content']

1767554    &lt;iframe width=&quot;560&quot; height=&quot;...
Name: Content, dtype: object

In [103]:
import pandas as pd
visit = pd.read_csv('hp/Visit_counter.txt', sep='\t', encoding='utf16')
visit.tail()

,vNum,vIP,vYY,vMM,vDD,vHH,vMT,vSeason,vDW,vBrowser,vOS,vReferer,vTarget
999995,999923,203.133.169.96,2015,4,24,6,8,1,6,MSIE or Firefox mutant,not on Windows server,NaN,/Incoboard/redirect_s.asp?name=160701152201249...
999996,999924,203.133.169.96,2015,4,24,6,10,1,6,MSIE or Firefox mutant,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
999997,999930,181.88.177.153,2015,4,24,6,47,1,6,MSIE 6.0,Windows NT 5.1,NaN,/Incoboard/board_List.asp?bbs_id=sub4_4_n4
999998,999934,66.249.71.115,2015,4,24,6,58,1,6,Googlebot/2.1,+http://www.google.com/bot.html,NaN,/Incoboard/Board_View.asp?Bbs_id=sub2_1&Page=1...
999999,999935,188.143.232.40,2015,4,24,7,6,1,6,MSIE 6.0,Windows NT 5.1,NaN,/Incoboard/board_list.asp?bbs_id=sub4_2_n4&Sea...

In [104]:
# visit['vReferer'].value_counts()
visit.columns

Index(['vNum', 'vIP', 'vYY', 'vMM', 'vDD', 'vHH', 'vMT', 'vSeason', 'vDW',
       'vBrowser', 'vOS', 'vReferer', 'vTarget'],
      dtype='object')

In [107]:
visit['vDW'].value_counts()

4    155384
5    151249
6    147612
7    144279
3    137931
1    132096
2    131449
Name: vDW, dtype: int64

In [117]:
visit[visit['vIP']=='203.133.169.96'].iloc[:30, [3,4,5, 10, 11, 12]]

,vMM,vDD,vHH,vOS,vReferer,vTarget
997336,4,24,13,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997341,4,24,15,not on Windows server,NaN,/Incoboard/redirect_s.asp?name=813866022011825...
997360,4,24,17,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997368,4,24,11,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997369,4,24,11,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997370,4,24,11,not on Windows server,NaN,/Incoboard/redirect_s.asp?name=160701152201249...
997386,4,24,17,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997411,4,24,20,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997418,4,24,21,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997444,4,25,2,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997447,4,25,2,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997456,4,25,5,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997460,4,24,17,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997465,4,24,18,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
997469,4,24,19,not on Windows server,NaN,/Incoboard/redirect_s.asp?name=641260718201249...
997475,4,24,21,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
999733,4,23,14,not on Windows server,NaN,/index.asp?
999734,4,23,14,not on Windows server,NaN,/default.asp?
999735,4,23,14,not on Windows server,NaN,/bgm.asp?
999736,4,23,14,not on Windows server,NaN,/default.asp?
999737,4,23,14,not on Windows server,NaN,/bgm.asp?
999762,4,23,15,not on Windows server,NaN,/Incoboard/redirect_s.asp?name=817042108200951...
999763,4,23,15,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
999766,4,23,15,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
999768,4,23,15,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
999769,4,23,15,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
999770,4,23,15,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
999772,4,23,15,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
999773,4,23,15,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
999774,4,23,15,not on Windows server,NaN,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...

Collecting pymssql
  Downloading pymssql-2.2.5-cp39-cp39-win_amd64.whl (1.5 MB)
Installing collected packages: pymssql
Successfully installed pymssql-2.2.5

In [1]:
import pymssql

import pandas as pd

In [11]:
conn = pymssql.connect(server = "localhost" , user='sa', password='root1234',
                       database="hwapyung", charset='utf8')

In [12]:
cursor = conn.cursor()
# SQL문 실행
# cursor.execute('SELECT top 20000 * FROM dbo.INCOBOARD_BBS;')
 

result = pd.read_sql_query('SELECT * FROM dbo.Visit_Counter',conn)

result.info()
# result.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2275221 entries, 0 to 2275220
Data columns (total 13 columns):
 #   Column    Dtype
---  ------    -----
 0   vNum      int64
 1   vIP       object
 2   vYY       int64
 3   vMM       int64
 4   vDD       int64
 5   vHH       int64
 6   vMT       int64
 7   vSeason   int64
 8   vDW       int64
 9   vBrowser  object
 10  vOS       object
 11  vReferer  object
 12  vTarget   object
dtypes: int64(8), object(5)
memory usage: 225.7+ MB

In [13]:
result.head()

,vNum,vIP,vYY,vMM,vDD,vHH,vMT,vSeason,vDW,vBrowser,vOS,vReferer,vTarget
0,1,221.151.253.246,2009,4,27,7,36,1,2,MSIE 7.0,Windows NT 5.1,,/Default.asp?
1,2,221.151.253.246,2009,4,29,6,38,1,4,MSIE 7.0,Windows NT 5.1,,/Default.asp?
2,3,221.151.253.246,2009,4,29,8,27,1,4,MSIE 7.0,Windows NT 5.1,,/Default.asp?
3,4,221.151.253.246,2009,4,29,14,34,1,4,MSIE 7.0,Windows NT 5.1,,/Default.asp?
4,5,221.151.253.246,2009,4,29,14,47,1,4,MSIE 7.0,Windows NT 5.1,,/Default.asp?

In [24]:
result.to_pickle('dbo.Calendar.pkl')

In [83]:
conn.close()

In [1]:
import pandas as pd
df = pd.read_pickle('hp/DB/dbo.INCOBOARD_BBS.pkl')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 27 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Regnum       200000 non-null  int64
 1   Regdate      200000 non-null  datetime64[ns]
 2   Regwrite     200000 non-null  object
 3   Bbs_Id       200000 non-null  object
 4   Name         200000 non-null  object
 5   Userid       200000 non-null  object
 6   Email        200000 non-null  object
 7   Hit          200000 non-null  int64
 8   Title        200000 non-null  object
 9   Content      200000 non-null  object
 10  Good         200000 non-null  int64
 11  Pass         200000 non-null  object
 12  Userip       200000 non-null  object
 13  Ref          200000 non-null  int64
 14  Re_level     200000 non-null  int64
 15  Step         200000 non-null  int64
 16  ReIdx        200000 non-null  int64
 17  Num          200000 non-null  int64
 18  Doccheck     200000 non-null  int64
 19  Ncheck       200000 non-null  int64
 20  Notice       200000 non-null  int64
 21  File_        200000 non-null  object
 22  Now_Select   200000 non-null  int64
 23  Sub_Content  200000 non-null  object
 24  Sub_Id       200000 non-null  object
 25  Cmt_Count    200000 non-null  int64
 26  FlvLink      200000 non-null  object
dtypes: datetime64[ns](1), int64(13), object(13)
memory usage: 41.2+ MB

In [2]:
df['Ncheck'].value_counts()

0    199999
1         1
Name: Ncheck, dtype: int64

In [5]:
df['Now_Select']

0         0
1         0
2         0
3         0
4         0
         ..
199995    0
199996    0
199997    0
199998    0
199999    0
Name: Now_Select, Length: 200000, dtype: int64