In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats

In [2]:
df = pd.read_csv("../../데이터수집/data/반별_점수_type1.csv", encoding='ms949')

In [3]:
df

    반  점수
0   A  73
1   A  69
2   A  71
3   A  71
4   A  73
5   A  67
6   A  73
7   A  69
8   A  62
9   A  74
10  A  68
11  A  66
12  A  70
13  A  82
14  A  70
15  A  65
16  A  76
17  A  73
18  A  58
19  A  81
20  B  63
21  B  56
22  B  73
23  B  61
24  B  55
25  B  77
26  B  75
27  B  65
28  B  61
29  B  55

In [9]:
# A그룹
gA = df[df['반']=='A']['점수'].values
# B그룹
gB = df[df['반']=='B']['점수'].values

In [12]:
# 정규성 검정(kstest)
print(sp.stats.kstest(gA, 'norm')) # p-value < 0.05
print(sp.stats.kstest(gB, 'norm')) # 둘 다 정규분포형태를 가진다

KstestResult(statistic=1.0, pvalue=0.0)
KstestResult(statistic=1.0, pvalue=0.0)

In [13]:
# 등분산 검정
sp.stats.levene(gA, gB) # p-value가 0.05보다 크므로 등분산을 만족한다.

LeveneResult(statistic=2.033067087400979, pvalue=0.164964086222101)

In [14]:
np.var(gA), np.var(gB)

(30.6475, 61.69000000000001)

In [15]:
# t-test
# statistic(검정통계량, t값, t통계량)이 양수면 왼쪽그룹이 더 큼
sp.stats.ttest_ind(gA, gB, equal_var=True)

Ttest_indResult(statistic=2.5128526794964134, pvalue=0.01801095352893767)

In [16]:
# 결론 : p-value가 0.05보다 작으므로 대립가설(A반 평균점수가 더 높다) 채택

### 실습
* htest01.csv
* 그룹 분리
* 그룹별 평균
* 가설설정
* 정규성 검정
* 등분산 검정
* t검정
* 결론

In [17]:
df = pd.read_csv('../../데이터수집/data/htest01.csv')
df

  group  height
0     A     170
1     A     177
2     A     163
3     B     168
4     B     190
5     B     185

In [29]:
gA = df[df['group']=='A']['height'].values
gB = df[df['group']=='B']['height'].values

In [36]:
np.mean(gA), np.mean(gB)

(170.0, 181.0)

In [30]:
# 정규성 검정(kstest)
print(sp.stats.kstest(gA, 'norm'))
print(sp.stats.kstest(gB, 'norm')) 
# 둘다 pvalue<0.05이므로 정규성 만족

KstestResult(statistic=1.0, pvalue=0.0)
KstestResult(statistic=1.0, pvalue=0.0)

In [31]:
# 등분산검정
sp.stats.levene(gA, gB) # p-value가 0.05보다 크므로 귀무가설인 두 그룹간 분산이 동일하다는 가설을 만족한다.

LeveneResult(statistic=0.23021582733812937, pvalue=0.6564207778992172)

In [32]:
np.var(gA), np.var(gB)

(32.666666666666664, 88.66666666666667)

In [34]:
# t-Test
sp.stats.ttest_ind(gA, gB, equal_var=True) # pvalue > 0.05이기

Ttest_indResult(statistic=-1.4122696252860127, pvalue=0.23072932015244507)

In [37]:
# 결론 : 두 그룹의 평균 키에 차이가 있다는 대립가설을 기각한다.