In [2]:
# 1. 데이터 로드
import pandas as pd
df = pd.read_csv('Jeju.csv', encoding='ms949')

In [11]:
# 2. 상위 5개 출력
print(df.head())

      id          일자   시도명  읍면동명         거주인구       근무인구        방문인구  \
0  22448  2018-01-01   제주시   도두동    32249.987   3418.266  102709.092
1  22449  2018-01-01   제주시   외도동   213500.997  10341.172  112692.789
2  22450  2018-01-01   제주시  이도2동  1212382.218  96920.834  541194.481
3  22451  2018-01-01   제주시  일도1동    33991.653   6034.253   72155.919
4  22452  2018-01-01  서귀포시   대천동   155036.925   9403.969  150882.409

        총 유동인구   평균 속도  평균 소요 시간  평균 기온  일강수량  평균 풍속
0   138377.345  39.556    29.167    5.0   0.0    2.5
1   336534.958  32.900    30.900    5.0   0.0    2.5
2  1850497.533  29.538    35.692    2.9   0.0    2.4
3   112181.825  30.000    23.500    2.9   0.0    2.4
4   315323.303  41.583    14.375    5.1   0.0    2.3

In [6]:
# 3. 데이터의 행과 열 출력
print(df.shape)

(9621, 13)

In [ ]:
# 4. 데이터 프레임 확인
print(df.info())

In [8]:
# 5. 전체 컬럼목록 출력
print(df.columns)

Index(['id', '일자', '시도명', '읍면동명', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도',
       '평균 소요 시간', '평균 기온', '일강수량', '평균 풍속'],
      dtype='object')

In [9]:
# 6. 6번째 컬럼 출력
print(df.columns[5])

근무인구

In [13]:
# 7. 6번째 컬럼의 타입 출력
print(df.iloc[:,5].dtype)

float64

In [15]:
# 8. 6번째 컬럼의 3번째 값 출력
print(df.iloc[2,5])

96920.834

In [ ]:
# 9. 결측치 확인
print(df.isnull().sum())

In [ ]:
# 10. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소) 확인
print(df.describe())

In [ ]:
# 11. 거주인구 컬럼값 출력
print(df.loc[:,'거주인구'])
print(df['거주인구'])
print(df.거주인구)

In [23]:
# 12. 평균 속도의 4분위수(IQR) 값 출력(3사분위값 - 1사분위값)
df['평균 속도'].quantile(0.75) - df['평균 속도'].quantile(0.25)

14.854999999999997

In [ ]:
# 13. 읍면동명 유일값 출력
print(df['읍면동명'].unique())
print(df['읍면동명'].value_counts())

In [ ]:
# 14. 읍면동명이 연동인 데이터 상위 5개 출력
print(df.loc[df['읍면동명'] == '연동'].head())

In [29]:
# 15. 일자컬럼을 통해 년,월,일 컬럼 추가
df['일자']=pd.to_datetime(df['일자'])
df['년'] = df['일자'].dt.year
df['월'] = df['일자'].dt.month
df['일'] = df['일자'].dt.day

In [ ]:
# 16. 시도명과 읍면동명만 추출해서 새로운 데이터프레임(df2)로 생성
df2 = df[['시도명','읍면동명']]
df2

In [42]:
# 17. 시도명이 제주시인 데이터 개수 출력
print(len(df.loc[df['시도명'] == '제주시']))

5766

In [40]:
print((df.loc[df['시도명'] == '제주시']).shape[0])

5766

In [ ]:
# 18. 연동의 2018년 1월 데이터 출력
print(df.loc[(df['읍면동명'] == '연동') & (df['년'] == 2018) & (df['월'] == 1)])

In [ ]:
# 19. 거주인구순으로 정렬하고 인덱스 초기화
df.sort_values('거주인구').reset_index(drop=True)

In [ ]:
# 20. 읍면동명에 1이 들어가 있는 데이터 출력
df.loc[df['읍면동명'].str.find('1') > -1]

In [ ]:
# 21. 거주인구 내림차순으로 정렬하고 인덱스 초기화
df.sort_values('거주인구', ascending=False).reset_index(drop=True)

In [ ]:
# 22. 읍면동명이 연동이거나 외도동인 데이터 출력
df.loc[(df['읍면동명']=='연동') | (df['읍면동명']=='외도동')]

In [ ]:
# 23. 총 유동인구가 총 유동인구의 평균보다 큰 데이터 출력
df.loc[df['총 유동인구'].mean() < df['총 유동인구']]

In [66]:
# 24. id가 22457인 평균 속도를 nan값으로 변경
import numpy as np
df.loc[df['id']==22457, '평균 속도'] = np.nan

In [67]:
# 25. 평균 속도의 결측치 확인
df['평균 속도'].isnull().sum()

1

In [71]:
# 26. 평균속도의 결측치를 평균속도의 평균으로 치환
df['평균 속도']=df['평균 속도'].fillna(df['평균 속도'].mean())
print(df['평균 속도'].isnull().sum())

0

In [83]:
# 27. 읍면동명 데이터 중 읍 데이터의 갯수 출력
#'파이썬'.endswith('싼')
print(len(df.loc[df['읍면동명'].str.endswith('읍')]))
print(df.loc[df['읍면동명'].str.endswith('읍')].shape[0])
print(df.loc[df['읍면동명'].str.endswith('읍')]['읍면동명'].count())
print((df['읍면동명'].str.endswith('읍')).sum())

1685
1685
1685
1685

In [86]:
# 28. 읍면동명이 3자인 데이터 갯수 출력
print(len(df.loc[df['읍면동명'].str.len() == 3]))

7455

In [94]:
# 29. 시도명별 읍면동명 개수 출력
print(df.groupby('시도명')['읍면동명'].count())
print(df.groupby(['시도명','읍면동명']).size())

시도명
서귀포시    3855
제주시     5766
Name: 읍면동명, dtype: int64
시도명   읍면동명
서귀포시  남원읍     241
      대륜동     240
      대정읍     241
      대천동       6
      동홍동     241
      서홍동     241
      성산읍     241
      송산동     241
      안덕면     240
      영천동     241
      예래동     241
      정방동     241
      중문동     238
      중앙동     241
      천지동     240
      표선면     240
      효돈동     241
제주시   건입동     238
      구좌읍     241
      노형동     239
      도두동     240
      봉개동     238
      삼도1동    241
      삼도2동    241
      삼양동     240
      아라동     240
      애월읍     240
      연동      239
      오라동     241
      외도동     241
      용담1동    241
      용담2동    241
      이도1동    241
      이도2동    240
      이호동     240
      일도1동    241
      일도2동    241
      조천읍     240
      한경면     241
      한림읍     241
      화북동     240
dtype: int64

In [100]:
df2 = pd.DataFrame(df.groupby(['시도명','읍면동명']).size())
df2=df2.reset_index()
df2.groupby('시도명')['시도명'].count()
df2['시도명'].value_counts()

제주시     24
서귀포시    17
Name: 시도명, dtype: int64

In [ ]:
# 30. 시도명별 읍면동명별 거주인구 평균
df.groupby(['시도명','읍면동명']).mean()['거주인구']
df.groupby(['시도명','읍면동명'])['거주인구'].mean()

In [ ]:
# 31. 시도명별 읍면동명별 거주인구 평균, 최소, 최대 한번에 출력
df.groupby(['시도명','읍면동명'])['거주인구'].agg(['mean','min','max','sum'])

In [ ]:
# 32. 제주시의 읍면동명별 거주인구 평균, 최소, 최대 출력
df.loc[df['시도명'] == '제주시'].groupby('읍면동명')\
['거주인구'].agg(['mean','min','max'])

In [118]:
# 33. 시도명2 컬럼을 생성해 제주시는 0, 서귀포시는 1로 저장
df['시도명2']=df['시도명'].map({'제주시':0, '서귀포시':1})

In [ ]:
df['시도명2'].value_counts()

In [122]:
# 34. 읍면동2 컬럼을 생성해 읍은 0, 면은 1, 동은 2로 저장
def mapping(v):
  if v[-1] == '읍':
    return 0
  elif v[-1] == '면':
    return 1
  elif v[-1] == '동':
    return 2

df['읍면동명'].apply(mapping)

0        도두동
1        외도동
2       이도2동
3       일도1동
4        대천동
        ...
9616     표선면
9617     한림읍
9618     도두동
9619     안덕면
9620      연동
Name: 읍면동명, Length: 9621, dtype: object

In [ ]:
# 시도=제주시, 읍면동=읍 -> 0
# 시도=제주시, 읍면동=면 -> 1
# 시도=제주시, 읍면동=동 -> 2
# 시도=서귀포시, 읍면동=읍 -> 3
# 시도=서귀포시, 읍면동=면 -> 4
# 시도=서귀포시, 읍면동=동 -> 5
def test(row):
  #print(row[1])
  if row[2] == '제주시' and row[3][-1] == '읍':
    return 0
df.apply(test, axis=1)

In [131]:
total = 0
for i, row in df.iterrows():
  #print(row)
  total += row['거주인구']
print(total)

3054008274.285

In [135]:
# 35. 요일컬럼 추가
df['요일'] = df['일자'].dt.dayofweek

In [ ]:
df.head()