In [3]:
from sklearn import datasets
import pandas as pd
iris = datasets.load_iris()

target = iris['target']
data = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])
target = pd.DataFrame(data=iris['target'], columns=['species'])
df = pd.concat([data, target], axis=1)

In [ ]:
'''
1.  종(species) 별로 petal_width 상위 25%값을 구한 후, 가장 큰값과 가장 작은값 사이의 차이를 출력하시오.
'''

In [30]:
print(df.groupby('species')['petal width (cm)'].quantile(0.75).max() - df.groupby('species')['petal width (cm)'].quantile(0.75).min())

1.9999999999999998

In [28]:
result = df.groupby('species').describe()['petal width (cm)',   '75%']
print(result.max()-result.min())
# print(df.info())

1.9999999999999998

In [ ]:
'''
2. sepal_length 변수의 전체 값들을 중복 없이, 오른차순으로 정렬했을 때 리스트의 10번째 값을 출력하시오.
'''

In [55]:
import numpy as np

result = df['sepal length (cm)'].unique()
result.sort()
print(result[9])

5.2

In [63]:
result = pd.DataFrame(df['sepal length (cm)'].unique())
print(result.sort_values(0).iloc[9, 0])

5.2

In [ ]:
'''
3. sepal_width 변수 값으로 내림차순 후 위에서부터 100개 행의 표준편차 값을 구한 후 50을 곱한 값을 출력하시오.(단 최종 계산값의 소수점 이하는 버림)
'''

In [83]:
print(int(df.sort_values('sepal width (cm)', ascending=False).iloc[0:100,]['sepal width (cm)'].std()*50))

16

In [ ]:
'''
4. 종(species) 별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 출력하시오.(소수점 이하 버림)
'''

In [116]:
data = df.sort_values('petal length (cm)', ascending=False)
data = data.groupby('species')['species','petal length (cm)'].head(10)
# print(data.groupby('species').mean())
print(data.groupby('species').mean().sum()[0])
# print(dir(pd.core.groupby.generic.DataFrameGroupBy))

12.92

C:\Users\tjoeun-jr-902-02\AppData\Local\Temp\ipykernel_30412\3832424349.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data = data.groupby('species')['species','petal length (cm)'].head(10)

In [ ]:
'''
5. speal_length 변수가 이상치를 가지는 데이터 행의 수를 출력하시오 (단, 이상치 범위는 (평균+2*표준편차) 이상이거나 (평균-2*표준편차) 이하)
'''

In [130]:
mean = df['sepal length (cm)'].mean()
std = df['sepal length (cm)'].std()
upper = mean + 2*std
lower = mean - 2*std
print(len(df[(df['sepal length (cm)'] > upper) | (df['sepal length (cm)'] < lower)]))

6