In [1]:
import pandas as pd
data = pd.read_csv("bigData-main/mtcars.csv")

In [2]:
# data 변수의 상위 5개 데이터를 출력하기
print(data)

             Unnamed: 0   mpg   cyl   disp   hp  drat     wt    qsec  vs  \
0             Mazda RX4  21.0   6.0  160.0  110  3.90  2.620   16.46   0
1         Mazda RX4 Wag  21.0   6.0  160.0  110  3.90  2.875   17.02   0
2            Datsun 710  22.8   4.0  108.0   93  3.85  2.320   18.61   1
3        Hornet 4 Drive  21.4   6.0  258.0  110  3.08  3.215    0.10   1
4     Hornet Sportabout  18.7   8.0  360.0  175  3.15  3.440   17.02   0
5               Valiant  18.1   6.0  225.0  105  2.76  3.460   20.22   1
6            Duster 360  14.3   8.0  360.0  245  3.21  3.570   15.84   0
7             Merc 240D  24.4   NaN  146.7   62  3.69  3.190   20.00   1
8              Merc 230  22.8   4.0  140.8   95  3.92  3.150   22.90   1
9              Merc 280  19.2   6.0  167.6  123  3.92  3.440   18.30   1
10            Merc 280C  17.8   6.0  167.6  123  3.92  3.440     NaN   1
11           Merc 450SE  16.4   8.0  275.8  180  3.07  4.070   17.40   0
12           Merc 450SL  17.3   8.0  275.8  180  3.07  3.730   17.60   0
13          Merc 450SLC  15.2   8.0  275.8  180  3.07  3.780   18.00   0
14   Cadillac Fleetwood  10.4  50.0  472.0  205  2.93  5.250   17.98   0
15  Lincoln Continental  10.4   8.0  460.0  215  3.00  5.424   17.82   0
16    Chrysler Imperial  14.7   8.0  440.0  230  3.23  5.345   17.42   0
17             Fiat 128  32.4   4.0   78.7   66  4.08  2.200   19.47   1
18          Honda Civic  30.4   4.0   75.7   52  4.93  1.615   18.52   1
19       Toyota Corolla  33.9   4.0   71.1   65  4.22  1.835   19.90   1
20        Toyota Corona  21.5   4.0  120.1   97  3.70  2.465   20.01   1
21     Dodge Challenger  15.5   8.0  318.0  150  2.76  3.520   16.87   0
22          AMC Javelin  15.2   8.0  304.0  150  3.15  3.435   17.30   0
23           Camaro Z28  13.3   8.0  350.0  245  3.73  3.840   15.41   0
24     Pontiac Firebird  19.2   NaN  400.0  175  3.08  3.845  100.00   0
25            Fiat X1-9  27.3   4.0   79.0   66  4.08  1.935   18.90   1
26        Porsche 914-2  26.0   4.0  120.3   91  4.43  2.140   16.70   0
27         Lotus Europa  30.4   4.0   95.1  113  3.77  1.513   16.90   1
28       Ford Pantera L  15.8   8.0  351.0  264  4.22  3.170   14.50   0
29         Ferrari Dino  19.7   6.0  145.0  175  3.62  2.770   15.50   0
30        Maserati Bora  15.0   8.0  301.0  335  3.54  3.570   14.60   0
31           Volvo 142E  21.4   4.0  121.0  109  4.11  2.780   18.60   1

        am gear  carb
0   manual    4     4
1   manual    4     4
2   manual    4     1
3     auto    3     1
4     auto    3     2
5     auto    3     1
6     auto    3     4
7     auto    4     2
8     auto    4     2
9     auto    4     4
10    auto    4     4
11    auto    3     3
12    auto   *3     3
13    auto    3     3
14    auto    3     4
15    auto    3     4
16    auto    3     4
17  manual    4     1
18  manual    4     2
19  manual    4     1
20    auto    3     1
21    auto    3     2
22    auto    3     2
23    auto    3     4
24    auto    3     2
25  manual    4     1
26  manual    5     2
27  manual    5     2
28  manual   *5     4
29  manual    5     6
30  manual    5     8
31  manual    4     2

In [3]:
# data 변수의 행/열 확인하기
print(data.shape)  # 32행 12열

(32, 12)

In [4]:
# data 변수의 데이터타입 확인하기
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [5]:
# 데이터의 열 확인하기
print(data.columns)

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [6]:
print(data.describe())

             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  30.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   7.600000  230.721875  146.687500   3.596563   3.217250
std     6.026948   8.194195  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000  50.000000  472.000000  335.000000   4.930000   5.424000

             qsec         vs     carb
count   31.000000  32.000000  32.0000
mean    19.866774   0.437500   2.8125
std     15.310469   0.504016   1.6152
min      0.100000   0.000000   1.0000
25%     16.785000   0.000000   2.0000
50%     17.600000   0.000000   2.0000
75%     18.755000   1.000000   4.0000
max    100.000000   1.000000   8.0000

In [7]:
print(data['hp'].describe())

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [8]:
# am 칼럼에서 중복을 제거한 값들 구하기
data['am'].unique()

array(['manual', 'auto'], dtype=object)

In [9]:
print(data['gear'].unique())

['4' '3' '*3' '5' '*5']

In [10]:
print(data['vs'].unique())

[0 1]

In [11]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [12]:
data.corr()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,carb
mpg,1.000000,-0.460227,-0.847551,-0.776168,0.681172,-0.867659,0.013668,0.664039,-0.550925
cyl,-0.460227,1.000000,0.544876,0.323293,-0.372671,0.533690,-0.012755,-0.323960,0.239980
disp,-0.847551,0.544876,1.000000,0.790949,-0.710214,0.887980,0.181810,-0.710416,0.394977
hp,-0.776168,0.323293,0.790949,1.000000,-0.448759,0.658748,0.010807,-0.723097,0.749812
drat,0.681172,-0.372671,-0.710214,-0.448759,1.000000,-0.712441,-0.120283,0.440278,-0.090790
wt,-0.867659,0.533690,0.887980,0.658748,-0.712441,1.000000,0.093900,-0.554916,0.427606
qsec,0.013668,-0.012755,0.181810,0.010807,-0.120283,0.093900,1.000000,-0.112146,-0.120312
vs,0.664039,-0.323960,-0.710416,-0.723097,0.440278,-0.554916,-0.112146,1.000000,-0.569607
carb,-0.550925,0.239980,0.394977,0.749812,-0.090790,0.427606,-0.120312,-0.569607,1.000000

In [13]:
X = data.drop(columns='mpg')
Y = data['mpg']

In [14]:
print(X.head())

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

In [15]:
print(X.columns)

Index(['Unnamed: 0', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [16]:
print(Y.head())

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

In [17]:
X = X.iloc[:, 1:]

In [18]:
print(X.head())
print(X.shape)

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2
(32, 10)

In [19]:
X.isnull().head(3)

     cyl   disp     hp   drat     wt   qsec     vs     am   gear   carb
0  False  False  False  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False  False  False

In [20]:
print(X.isnull().sum())

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [21]:
# cyl열의 평균값을 X_cyl_mean 변수에 저장하기
X_cyl_mean = X['cyl'].mean()
# X_cyl_mean 변수 확인하기
print(X_cyl_mean)

7.6

In [22]:
# cyl 열의 결측치를 X_cyl_mean값으로 채운 후, 다시 cyl 열에 저장하기
X['cyl'] = X['cyl'].fillna(X_cyl_mean)

In [23]:
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

In [24]:
# 중위값으로 대치하기
X_qsec_median = X['qsec'].median()
print(X_qsec_median)

17.6

In [25]:
X['qsec'] = X['qsec'].fillna(X_qsec_median)

In [26]:
print(X['qsec'].isnull().sum())

0

In [27]:
X.info()
print(X[['gear', 'am']])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     int64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     object
 9   carb    32 non-null     int64
dtypes: float64(5), int64(3), object(2)
memory usage: 2.6+ KB
   gear      am
0     4  manual
1     4  manual
2     4  manual
3     3    auto
4     3    auto
5     3    auto
6     3    auto
7     4    auto
8     4    auto
9     4    auto
10    4    auto
11    3    auto
12   *3    auto
13    3    auto
14    3    auto
15    3    auto
16    3    auto
17    4  manual
18    4  manual
19    4  manual
20    3    auto
21    3    auto
22    3    auto
23    3    auto
24    3    auto
25    4  manual
26    5  manual
27    5  manual
28   *5  manual
29    5  manual
30    5  manual
31    4  manual

In [28]:
print(X['gear'].unique())

['4' '3' '*3' '5' '*5']

In [29]:
print(X['gear'].replace('*3', '3').replace('*5', '5'))

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: object

In [30]:
X['gear'] = X['gear'].replace('*3', '3').replace('*5', '5')

In [31]:
print(X['gear'].unique())

['4' '3' '5']

In [32]:
X_describe = X.describe()
print(X_describe)

             cyl        disp          hp       drat         wt        qsec  \
count  32.000000   32.000000   32.000000  32.000000  32.000000   32.000000
mean    7.600000  230.721875  146.687500   3.596563   3.217250   19.795938
std     7.925459  123.938694   68.562868   0.534679   0.978457   15.066831
min     4.000000   71.100000   52.000000   2.760000   1.513000    0.100000
25%     4.000000  120.825000   96.500000   3.080000   2.581250   16.827500
50%     6.000000  196.300000  123.000000   3.695000   3.325000   17.600000
75%     8.000000  326.000000  180.000000   3.920000   3.610000   18.682500
max    50.000000  472.000000  335.000000   4.930000   5.424000  100.000000

              vs     carb
count  32.000000  32.0000
mean    0.437500   2.8125
std     0.504016   1.6152
min     0.000000   1.0000
25%     0.000000   2.0000
50%     0.000000   2.0000
75%     1.000000   4.0000
max     1.000000   8.0000

In [33]:
print(X_describe.loc['75%'], X_describe.loc['25%'])

cyl       8.0000
disp    326.0000
hp      180.0000
drat      3.9200
wt        3.6100
qsec     18.6825
vs        1.0000
carb      4.0000
Name: 75%, dtype: float64 cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.82750
vs        0.00000
carb      2.00000
Name: 25%, dtype: float64

In [34]:
# IQR을 계산한 후, X_iqr 변수에 저장하기
X_iqr = X_describe.loc['75%']  - X_describe.loc['25%']
print(X_iqr)

cyl       4.00000
disp    205.17500
hp       83.50000
drat      0.84000
wt        1.02875
qsec      1.85500
vs        1.00000
carb      2.00000
dtype: float64

In [35]:
# 각 열의 3 사분위수 + 1.5*IQR 값을 계산하기
print(X_describe.loc['75%'] + (1.5*X_iqr))

cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64

In [36]:
# X 변수의 최댓값 확인하기
print(X_describe.loc['max'])

cyl      50.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec    100.000
vs        1.000
carb      8.000
Name: max, dtype: float64

In [37]:
#cyl 열 값이 14를 초과하는 값 추출하기
print(X.loc[X['cyl'] > 14])

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [38]:
# X 변수에서 인덱스 14이고 열이 cyl인 값을 14로 변경하기
X.loc[14, 'cyl'] = 14
X.loc[14, 'cyl']

14.0

In [39]:
# hp 열 값이 305.25를 초과하는 값 추출하기
print(X.loc[X['hp'] > 305.25])

    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8

In [40]:
X.loc[30, 'hp'] = 305.25
X.loc[30,'hp']

305.25

In [41]:
# 각 열의 1사분위수 - 1.5 * IQR 값을 계산하기
print(X_describe.loc['25%'] -1.5 * X_iqr)

cyl      -2.000000
disp   -186.937500
hp      -28.750000
drat      1.820000
wt        1.038125
qsec     14.045000
vs       -1.500000
carb     -1.000000
dtype: float64

In [42]:
# 평균과 표준편차로 이상값 처리하기 
# 데이터(data)와 열(column)을 전달하면 이상값 정보가 출력되는 outlier() 함수 만들기
def outlier(data, column):
    mean = data[column].mean()
    std = data[column].std()
    lowest = mean - (std * 1.5)
    highest = mean + (std * 1.5)
    print('최소 경계값: ', lowest, ' 최대경계값: ', highest)
    outlier_index = data[column][(data[column] < lowest) | (data[column] > highest)].index
    return outlier_index

In [43]:
print(outlier(X, 'qsec'))

최소 경계값:  -2.8043094560577657  최대경계값:  42.39618445605777
Int64Index([24], dtype='int64')

In [44]:
print(X.loc[24, 'qsec'])

100.0

In [45]:
X.loc[24, 'qsec'] = 42.396
print(X.loc[24, 'qsec'])

42.396

In [46]:
# X 변수와 carb 열을 전달하여 이상값 정보를 출력하기
print(outlier(X, 'carb'))

최소 경계값:  0.3897000335522218  최대경계값:  5.235299966447778
Int64Index([29, 30], dtype='int64')

In [47]:
print(X.loc[[29,30], 'carb'])

29    6
30    8
Name: carb, dtype: int64

In [48]:
# 인덱스 29, 30 이고, 열은 carb인 값을 5.245로 변경하기
X.loc[[29, 30], 'carb'] = 5.235
X.loc[[29, 30], 'carb']

29    5.235
30    5.235
Name: carb, dtype: float64

In [49]:
# sklearn 패키지의 preprocessing 모듈에서 StandardScaler 함수를 가져오기
from sklearn.preprocessing import StandardScaler

# X 변수에서 qsec 열만 추출한 후, temp 변수에 저장하기
temp = X[['qsec']]
temp

      qsec
0   16.460
1   17.020
2   18.610
3    0.100
4   17.020
5   20.220
6   15.840
7   20.000
8   22.900
9   18.300
10  17.600
11  17.400
12  17.600
13  18.000
14  17.980
15  17.820
16  17.420
17  19.470
18  18.520
19  19.900
20  20.010
21  16.870
22  17.300
23  15.410
24  42.396
25  18.900
26  16.700
27  16.900
28  14.500
29  15.500
30  14.600
31  18.600

## 표준 크기변환 : StandardScaler
- 평균값이 0, 표준편차가 1인 정규분포로 변환시키는 방법
- 종속변수가 범주형인 분류 문제에 주로 활용

In [50]:
# StandardScaler 함수를 호출하여 표준 크기변환 기능을 갖는 scaler라는 객체 만들기
scaler = StandardScaler()

# 표준 크기변환하는 scaler에게 fit_transform 명령으로 temp 변수의 크기 변환 요청하기
print(scaler.fit_transform(temp))

[[-2.73145534e-01]
 [-1.73549067e-01]
 [ 1.09233759e-01]
 [-3.18278518e+00]
 [-1.73549067e-01]
 [ 3.95573602e-01]
 [-3.83413051e-01]
 [ 3.56446419e-01]
 [ 8.72213838e-01]
 [ 5.41000006e-02]
 [-7.03955833e-02]
 [-1.05965750e-01]
 [-7.03955833e-02]
 [ 7.44750368e-04]
 [-2.81226632e-03]
 [-3.12683998e-02]
 [-1.02408733e-01]
 [ 2.62185477e-01]
 [ 9.32271841e-02]
 [ 3.38661335e-01]
 [ 3.58224927e-01]
 [-2.00226692e-01]
 [-1.23750834e-01]
 [-4.59888910e-01]
 [ 4.33959370e+00]
 [ 1.60810501e-01]
 [-2.30461334e-01]
 [-1.94891167e-01]
 [-6.21733169e-01]
 [-4.43882335e-01]
 [-6.03948086e-01]
 [ 1.07455251e-01]]

In [52]:
# 표준 크기변환을 수행한 결과를 qsec_s_scaler 변수에 저장하기
qsec_s_scaler = pd.DataFrame(scaler.fit_transform(temp))

# qsec_s_scaler 변수의 기초 통계량 확인하기
print(qsec_s_scaler.describe())

                  0
count  3.200000e+01
mean   8.066464e-17
std    1.016001e+00
min   -3.182785e+00
25%   -2.077854e-01
50%   -7.039558e-02
75%    1.221279e-01
max    4.339594e+00

## 최소-최대 크기 변환 : MinMaxScaler
- 최소값을 0, 최대값을 1인 분포로 변환시키는 방법
- 주로 종속변수가 연속형 범주인 회귀 문제에 활용됨

In [53]:
# sklearn 패키지의 preprocessing 모듈에서 MinMaxScaler 함수를 가져고이
from sklearn.preprocessing import MinMaxScaler

# X 변수에서 qsec 열만 추출한 후, temp 변수에 저장하기
temp = X[['qsec']]

In [56]:
# MinMaxScaler 함수를 호출하여 최소-최대 크기변환 기능을 갖는 scaler 객체 만들기
scaler = MinMaxScaler()

# 최소최대 크기 변환 기능이 있는 scaler에게 temp 변수의 크기 변환을 요청하고
# 변환 결과는 qsec_m_scaler 변수에 저장하기
qsec_m_scaler = pd.DataFrame(scaler.fit_transform(temp))

# 최소최대 크기 변환 결과인 qsec_m_scaler 변수 확인하기
print(qsec_m_scaler)

           0
0   0.386798
1   0.400038
2   0.437630
3   0.000000
4   0.400038
5   0.475695
6   0.372139
7   0.470494
8   0.539058
9   0.430301
10  0.413751
11  0.409022
12  0.413751
13  0.423208
14  0.422735
15  0.418952
16  0.409495
17  0.457963
18  0.435502
19  0.468129
20  0.470730
21  0.396491
22  0.406658
23  0.361973
24  1.000000
25  0.444486
26  0.392472
27  0.397201
28  0.340458
29  0.364101
30  0.342822
31  0.437394

In [58]:
# qsec_m_scaler 변수의 기초 통계량 확인하기
print(qsec_m_scaler.describe())

               0
count  32.000000
mean    0.423109
std     0.135064
min     0.000000
25%     0.395487
50%     0.413751
75%     0.439344
max     1.000000

## 로버스트 크기변환 : RobustScaler
- 중앙값이 0, 사분범위(IQR)가 1인 분포로 변환시키는 방법
- 이상값의 영향을 잘 받지 않는 변환기법

In [59]:
# sklearn 패키지의 preprocessing 모듈에서 RobustScaler 함수를 가져오기
from sklearn.preprocessing import RobustScaler

# X 변수에서 qsec열만 추출한 후, temp 변수에 저장하기
temp = X[['qsec']]
print(temp)

      qsec
0   16.460
1   17.020
2   18.610
3    0.100
4   17.020
5   20.220
6   15.840
7   20.000
8   22.900
9   18.300
10  17.600
11  17.400
12  17.600
13  18.000
14  17.980
15  17.820
16  17.420
17  19.470
18  18.520
19  19.900
20  20.010
21  16.870
22  17.300
23  15.410
24  42.396
25  18.900
26  16.700
27  16.900
28  14.500
29  15.500
30  14.600
31  18.600

In [61]:
# RobustScaler 함수를 호출하여 로버스트 크기변환 기능을 갖는 scaler 객체 만들기
scaler = RobustScaler()

# 로버스트 크기변환 기능이 있는 scaler에게 temp 변수의 크기변환을 요청하고
# 변환결과는 qsec_r_scaler 변수에 저장하기
qsec_r_scaler = pd.DataFrame(scaler.fit_transform(temp))

# 로버스트 크기 변환 결과인 qsec_r_scaler 변수 확인하기
print(qsec_r_scaler)

            0
0   -0.614555
1   -0.312668
2    0.544474
3   -9.433962
4   -0.312668
5    1.412399
6   -0.948787
7    1.293801
8    2.857143
9    0.377358
10   0.000000
11  -0.107817
12   0.000000
13   0.215633
14   0.204852
15   0.118598
16  -0.097035
17   1.008086
18   0.495957
19   1.239892
20   1.299191
21  -0.393531
22  -0.161725
23  -1.180593
24  13.367116
25   0.700809
26  -0.485175
27  -0.377358
28  -1.671159
29  -1.132075
30  -1.617251
31   0.539084

In [63]:
# qsec_r_scaler 변수의 기초 통계량 확인하기
print(qsec_r_scaler.describe())

               0
count  32.000000
mean    0.213376
std     3.079600
min    -9.433962
25%    -0.416442
50%     0.000000
75%     0.583558
max    13.367116

In [65]:
print(X.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     float64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     object
 9   carb    32 non-null     float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.6+ KB
None

In [69]:
# gear 열의 데이터 타입을 int64로 변경한 후, 다시 gear 열에 저장하기
X['gear'] = X['gear'].astype('int64')

# gear열의 데이터타입(dtype) 확인하기
X['gear'].dtype

dtype('int64')

## 인코딩(encoding)
 ### 범주형을 수치형으로 변경하기
 - 원핫 인코딩 : 각 범주형 테이터를 개별 열로 만들어서 표현
   - pd.get_dummies(X, drop_first = True)
 - 라벨 인코딩 : 범주형 데이터에 일련번호를 부여하여 수치형 데이터로 변경
   - from sklearn.preprocessing import LabelEncoder
   - encoder = LabelEncoder(0
   - encoder.fit_transform(X['am'])

### 원핫 인코딩 : One-Hot Encoding

In [71]:
# X 변수의 상위 5개 행 확인하기
print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs      am  gear  carb
0  6.0  160.0  110.0  3.90  2.620  16.46   0  manual     4   4.0
1  6.0  160.0  110.0  3.90  2.875  17.02   0  manual     4   4.0
2  4.0  108.0   93.0  3.85  2.320  18.61   1  manual     4   1.0
3  6.0  258.0  110.0  3.08  3.215   0.10   1    auto     3   1.0
4  8.0  360.0  175.0  3.15  3.440  17.02   0    auto     3   2.0

In [72]:
# am열에서 중복 제거한 값들을 확인하기
print(X['am'].unique())

['manual' 'auto']

In [74]:
# X 변수의 am 열에 대해서 원핫 인코딩 수행하기
print(pd.get_dummies(X['am']))

    auto  manual
0      0       1
1      0       1
2      0       1
3      1       0
4      1       0
5      1       0
6      1       0
7      1       0
8      1       0
9      1       0
10     1       0
11     1       0
12     1       0
13     1       0
14     1       0
15     1       0
16     1       0
17     0       1
18     0       1
19     0       1
20     1       0
21     1       0
22     1       0
23     1       0
24     1       0
25     0       1
26     0       1
27     0       1
28     0       1
29     0       1
30     0       1
31     0       1

In [75]:
# X 변수의 am열에 원핫 인코딩 수행하기.
# 단, 생성된 첫번째 열은 삭제하기
print(pd.get_dummies(X['am'], drop_first = True))

    manual
0        1
1        1
2        1
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       1
19       1
20       0
21       0
22       0
23       0
24       0
25       1
26       1
27       1
28       1
29       1
30       1
31       1

In [77]:
# X 변수의 데이터 타입 확인하기
print(X.info())
# X 변수의 전체 열을 대상으로 원핫 인코딩 수행하기
print(pd.get_dummies(X, drop_first = True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cyl     32 non-null     float64
 1   disp    32 non-null     float64
 2   hp      32 non-null     float64
 3   drat    32 non-null     float64
 4   wt      32 non-null     float64
 5   qsec    32 non-null     float64
 6   vs      32 non-null     int64
 7   am      32 non-null     object
 8   gear    32 non-null     int64
 9   carb    32 non-null     float64
dtypes: float64(7), int64(2), object(1)
memory usage: 2.6+ KB
None
     cyl   disp      hp  drat     wt    qsec  vs  gear   carb  am_manual
0    6.0  160.0  110.00  3.90  2.620  16.460   0     4  4.000          1
1    6.0  160.0  110.00  3.90  2.875  17.020   0     4  4.000          1
2    4.0  108.0   93.00  3.85  2.320  18.610   1     4  1.000          1
3    6.0  258.0  110.00  3.08  3.215   0.100   1     3  1.000          0
4    8.0  360.0  175.00  3.15  3.440  17.020   0     3  2.000          0
5    6.0  225.0  105.00  2.76  3.460  20.220   1     3  1.000          0
6    8.0  360.0  245.00  3.21  3.570  15.840   0     3  4.000          0
7    7.6  146.7   62.00  3.69  3.190  20.000   1     4  2.000          0
8    4.0  140.8   95.00  3.92  3.150  22.900   1     4  2.000          0
9    6.0  167.6  123.00  3.92  3.440  18.300   1     4  4.000          0
10   6.0  167.6  123.00  3.92  3.440  17.600   1     4  4.000          0
11   8.0  275.8  180.00  3.07  4.070  17.400   0     3  3.000          0
12   8.0  275.8  180.00  3.07  3.730  17.600   0     3  3.000          0
13   8.0  275.8  180.00  3.07  3.780  18.000   0     3  3.000          0
14  14.0  472.0  205.00  2.93  5.250  17.980   0     3  4.000          0
15   8.0  460.0  215.00  3.00  5.424  17.820   0     3  4.000          0
16   8.0  440.0  230.00  3.23  5.345  17.420   0     3  4.000          0
17   4.0   78.7   66.00  4.08  2.200  19.470   1     4  1.000          1
18   4.0   75.7   52.00  4.93  1.615  18.520   1     4  2.000          1
19   4.0   71.1   65.00  4.22  1.835  19.900   1     4  1.000          1
20   4.0  120.1   97.00  3.70  2.465  20.010   1     3  1.000          0
21   8.0  318.0  150.00  2.76  3.520  16.870   0     3  2.000          0
22   8.0  304.0  150.00  3.15  3.435  17.300   0     3  2.000          0
23   8.0  350.0  245.00  3.73  3.840  15.410   0     3  4.000          0
24   7.6  400.0  175.00  3.08  3.845  42.396   0     3  2.000          0
25   4.0   79.0   66.00  4.08  1.935  18.900   1     4  1.000          1
26   4.0  120.3   91.00  4.43  2.140  16.700   0     5  2.000          1
27   4.0   95.1  113.00  3.77  1.513  16.900   1     5  2.000          1
28   8.0  351.0  264.00  4.22  3.170  14.500   0     5  4.000          1
29   6.0  145.0  175.00  3.62  2.770  15.500   0     5  5.235          1
30   8.0  301.0  305.25  3.54  3.570  14.600   0     5  5.235          1
31   4.0  121.0  109.00  4.11  2.780  18.600   1     4  2.000          1

### 라벨 인코딩  : Label Encoding
 - 값의 크고 작음에 따라 모델이 영향을 받기때문에 트리계열의 데이터 분석에 사용됨

In [79]:
# am 열의 상위 5개 행을 확인하기
print(X['am'].head())

0    manual
1    manual
2    manual
3      auto
4      auto
Name: am, dtype: object

In [82]:
# sklearn 라이브러리에서 LabelEncoder 함수 가져오기
from sklearn.preprocessing import LabelEncoder

# LabelEncoder 호출을 통해, 인코딩 기능을 갖는 encoder 변수 만들기
encoder = LabelEncoder()

In [84]:
# encoder를 통해 am열 값에 대해 라벨 인코딩 수행하기
print(encoder.fit_transform(X['am'])) # 인코더에 'am'값을 넣어서 변환하기

[1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 1 1 1 1 1 1 1]

In [85]:
# 3가지 과일이 들어있는 fruit 변수 만들기
fruit = ['apple', 'banana', 'grape']

# LabelEncoder 호출을 통해 라벨 인코딩 기능을 갖는 encoder 변수 만들기
encoder = LabelEncoder()

# encoder를 통해 fruit 변수에 대한 라벨 인코딩 수행 후, 결과는 fruit_new에 저장하기
fruit_new = encoder.fit_transform(fruit)

# 기존의 fruit 변수와 라벨인코딩한 fruit_new 변수를 비교해보기
print(fruit, fruit_new)

['apple', 'banana', 'grape'] [0 1 2]

### 수동인코딩 : replace()
- 데이터의 종류가 많지 않은 경우

In [86]:
# am 열에서 manual은 0으로, auto는 1로 변경한 후, 새로운 am_new열에 저장하기
X['am_new'] = X['am'].replace('manual', 0).replace('auto', 1)

# X변수의 am_new 열을 확인하기
print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs      am  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.46   0  manual     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.02   0  manual     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.61   1  manual     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215   0.10   1    auto     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.02   0    auto     3   2.0       1

In [87]:
# X 변수에서 am열을 삭제한 후, X 변수에 다시 저장하기
X = X.drop(columns=['am'])

# X 변수의 상위 5개 행을 확인하기
print(X.head())

   cyl   disp     hp  drat     wt   qsec  vs  gear  carb  am_new
0  6.0  160.0  110.0  3.90  2.620  16.46   0     4   4.0       0
1  6.0  160.0  110.0  3.90  2.875  17.02   0     4   4.0       0
2  4.0  108.0   93.0  3.85  2.320  18.61   1     4   1.0       0
3  6.0  258.0  110.0  3.08  3.215   0.10   1     3   1.0       1
4  8.0  360.0  175.0  3.15  3.440  17.02   0     3   2.0       1

## 파생변수 만들기

In [88]:
print(X['wt'])

0     2.620
1     2.875
2     2.320
3     3.215
4     3.440
5     3.460
6     3.570
7     3.190
8     3.150
9     3.440
10    3.440
11    4.070
12    3.730
13    3.780
14    5.250
15    5.424
16    5.345
17    2.200
18    1.615
19    1.835
20    2.465
21    3.520
22    3.435
23    3.840
24    3.845
25    1.935
26    2.140
27    1.513
28    3.170
29    2.770
30    3.570
31    2.780
Name: wt, dtype: float64

In [94]:
print(X['wt'] < 3.3)

0      True
1      True
2      True
3      True
4     False
5     False
6     False
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18     True
19     True
20     True
21    False
22    False
23    False
24    False
25     True
26     True
27     True
28     True
29     True
30    False
31     True
Name: wt, dtype: bool

In [97]:
# wt 열이 3.3보다 작은지 여부의 결과는 condition 변수에 저장하기
condition = X['wt'] < 3.3
# X 변수가 condition 조건을 만족하면, wt_class 열에 0으로 저장하기
X.loc[condition, 'wt_class'] = 0
# X 변수가 condition 조건을 맍고하지 않으면, wt_class 열에 1로 저장하기
X.loc[~condition, 'wt_class'] = 1

In [99]:
# wt 열과 wt_class 열 값을 확인하기
print(X[['wt', 'wt_class']])

       wt  wt_class
0   2.620       0.0
1   2.875       0.0
2   2.320       0.0
3   3.215       0.0
4   3.440       1.0
5   3.460       1.0
6   3.570       1.0
7   3.190       0.0
8   3.150       0.0
9   3.440       1.0
10  3.440       1.0
11  4.070       1.0
12  3.730       1.0
13  3.780       1.0
14  5.250       1.0
15  5.424       1.0
16  5.345       1.0
17  2.200       0.0
18  1.615       0.0
19  1.835       0.0
20  2.465       0.0
21  3.520       1.0
22  3.435       1.0
23  3.840       1.0
24  3.845       1.0
25  1.935       0.0
26  2.140       0.0
27  1.513       0.0
28  3.170       0.0
29  2.770       0.0
30  3.570       1.0
31  2.780       0.0

In [100]:
# X 변수에서 wt 열을 삭제한 후, 삭제 결과를 X 변수에 다시 저장하기
X = X.drop(columns=['wt'])

# X 변수의 상위 5개 행을 확인하기
print(X.head())

   cyl   disp     hp  drat   qsec  vs  gear  carb  am_new  wt_class
0  6.0  160.0  110.0  3.90  16.46   0     4   4.0       0       0.0
1  6.0  160.0  110.0  3.90  17.02   0     4   4.0       0       0.0
2  4.0  108.0   93.0  3.85  18.61   1     4   1.0       0       0.0
3  6.0  258.0  110.0  3.08   0.10   1     3   1.0       1       0.0
4  8.0  360.0  175.0  3.15  17.02   0     3   2.0       1       1.0

In [102]:
# qsec 열에 4를 곱한 결과를 qsec_4열에 저장하기
X['qsec_4'] = X['qsec'] * 4

# qsec열과 qsec_4열 값을 확인하기
print(X[['qsec', 'qsec_4']])

      qsec   qsec_4
0   16.460   65.840
1   17.020   68.080
2   18.610   74.440
3    0.100    0.400
4   17.020   68.080
5   20.220   80.880
6   15.840   63.360
7   20.000   80.000
8   22.900   91.600
9   18.300   73.200
10  17.600   70.400
11  17.400   69.600
12  17.600   70.400
13  18.000   72.000
14  17.980   71.920
15  17.820   71.280
16  17.420   69.680
17  19.470   77.880
18  18.520   74.080
19  19.900   79.600
20  20.010   80.040
21  16.870   67.480
22  17.300   69.200
23  15.410   61.640
24  42.396  169.584
25  18.900   75.600
26  16.700   66.800
27  16.900   67.600
28  14.500   58.000
29  15.500   62.000
30  14.600   58.400
31  18.600   74.400

In [103]:
# X 변수에서 qsec 열을 삭제한 후, X 변수에 다시 저장하기
X = X.drop(columns = ['qsec'])

# X 변수의 상위 5개 행을 확인하기
print(X.head())

   cyl   disp     hp  drat  vs  gear  carb  am_new  wt_class  qsec_4
0  6.0  160.0  110.0  3.90   0     4   4.0       0       0.0   65.84
1  6.0  160.0  110.0  3.90   0     4   4.0       0       0.0   68.08
2  4.0  108.0   93.0  3.85   1     4   1.0       0       0.0   74.44
3  6.0  258.0  110.0  3.08   1     3   1.0       1       0.0    0.40
4  8.0  360.0  175.0  3.15   0     3   2.0       1       1.0   68.08

### 학습데이터와 테스트 데이터를 분리하기
- train_test_split() (model_selection 모듈)

In [104]:
# 데이터 분리를 위해 train_test_split 함수를 가져오기
from sklearn.model_selection import train_test_split

In [105]:
# X, Y 변수로 학습 데이터는 70%, 테스트 데이터는 30%로 분리하기
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state = 10)

In [108]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((22, 10), (10, 10), (22,), (10,))

In [110]:
# 독립변수인 학습데이터의 상위 5개 행 확인하기
print(x_train.head())

# 종속변수인 학습 데이터의 상위 5개 행 확인하기
print(y_train.head())

# 독립변수인 테스트 데이터의 상위 5개 행 확인하기
print(x_test.head())

# 종속변수인 테스트 데이터의 상위 5개 행 확인하기
print(y_test.head())

     cyl   disp     hp  drat  vs  gear  carb  am_new  wt_class  qsec_4
19   4.0   71.1   65.0  4.22   1     4   1.0       0       0.0   79.60
14  14.0  472.0  205.0  2.93   0     3   4.0       1       1.0   71.92
18   4.0   75.7   52.0  4.93   1     4   2.0       0       0.0   74.08
6    8.0  360.0  245.0  3.21   0     3   4.0       1       1.0   63.36
11   8.0  275.8  180.0  3.07   0     3   3.0       1       1.0   69.60
19    33.9
14    10.4
18    30.4
6     14.3
11    16.4
Name: mpg, dtype: float64
    cyl   disp     hp  drat  vs  gear  carb  am_new  wt_class  qsec_4
20  4.0  120.1   97.0  3.70   1     3   1.0       1       0.0   80.04
7   7.6  146.7   62.0  3.69   1     4   2.0       1       0.0   80.00
5   6.0  225.0  105.0  2.76   1     3   1.0       1       1.0   80.88
2   4.0  108.0   93.0  3.85   1     4   1.0       0       0.0   74.44
3   6.0  258.0  110.0  3.08   1     3   1.0       1       0.0    0.40
20    21.5
7     24.4
5     18.1
2     22.8
3     21.4
Name: mpg, dtype: float64

## 모델링
- 모델을 학습시키고, 결과를 평가하기

(1) 사용할 모델의 함수 가져오기
- from sklearn.모듈 import 모델함수  

(2) 학습 모델을 만들기
- model = 모델함수()  

(3) 학습 데이터로 모델 학습시키기
- model.fit(x_train, y_train)  

(4) 학습된 모델로 값을 예측하기
- y_train의 예측값 = model.predict(x_train)
- y_test의 예측값 = model.predict(x_test)

### 모델 평가와 파이썬 코드
(1) 평가할 함수 가져오기
- from sklearn.metrics import 평가함수

(2) 모델 평가하기
- print(평가함수(y_train, y_train의 예측값))
- print(평가함수(y_test, y_test의 예측값))

#### 선형회귀 ( LinearRegression )

In [111]:
# 선형회귀 분석 : linear_model모듈에서 LinearRegression 모델을 가져오기
from sklearn.linear_model import LinearRegression

# 선형회귀 분석을 수행할 기본적인 모델(model) 만들기
model = LinearRegression()

# 생성한 모델에 x_train, y_train을 전달해서 선형회귀 방법으로 공부시키기
model.fit(x_train, y_train)

# 학습이 완료된 모델에 x_train을 전달하여 y_train 값을 예측하기
y_train_predicted = model.predict(x_train)

# 학습이 완료된 모델에 x_test를 전달하여 y_test값을 예측하기
y_test_predicted = model.predict(x_test)

In [112]:
# 선형회귀 모델로 도출된 y절편 값 구하기
print(model.intercept_)

24.269976151248546

In [113]:
# 선형회귀 모델에 포함된 독립변수들의 각 기울기 값 구하기
print(model.coef_) # 회귀계수 값

[-0.13806535 -0.01231226 -0.00409045  0.96664468  1.12299283  0.65737698
 -1.97459464 -3.57949528  0.01935106  0.02389729]

In [ ]:
''' 
평가지표
 - MAE(Mean Absolute Error)
 - MSE(Mean Squared Error)
 - RMSE(Root Mean Squared Error)
 - 결정계수
'''

In [114]:
# 선형회귀 분석 model에서 학습 데이터에 대한 결정계수 구하기
print(model.score(x_train, y_train))

0.9063060047456276

In [115]:
# 선형회귀 분석 model에서 테스트 데이터에 대한 결정계수 구하기
print(model.score(x_test, y_test))

0.101814271494583

In [116]:
# 결정계수를 계산하는 r2_score 함수 가져오기
from sklearn.metrics import r2_score

# MAE를 계산하는 mean_absolute_error 함수 가져오기
from sklearn.metrics import mean_absolute_error

# MSE를 계산하는 mean_squared_error 함수 가져오기
from sklearn.metrics import mean_squared_error

# w제곱근 계산을 위하여 numpy 라이브러리 가져오기
import numpy as np

In [117]:
# (1) 학습 데이터의 결정계수 구하기
print(r2_score(y_train, y_train_predicted))

# (2) 테스트 데이터의 결정계수 구하기
print(r2_score(y_test, y_test_predicted))

# (3) 테스트 데이터의 MSE 지표 구하기
print(mean_squared_error(y_test, y_test_predicted))

# (4) 테스트 데이터의 RMSE 지표 구하기
print(np.sqrt(mean_squared_error(y_test, y_test_predicted)))

# (5) 테스트 데이터의 MAE 지표 구하기
print(mean_absolute_error(y_test, y_test_predicted))

0.9063060047456276
0.101814271494583
8.922577026972812
2.9870682996832882
2.3740787517183937