In [2]:
# pandas 라이브러리 가져오기
import pandas as pd
# boston.csv 파일의 데이터를 읽은 후, 해당 데이터를 data 변수에 저장하기
data = pd.read_csv('bigData-main/boston.csv')

In [3]:
# data 변수의 상위 5개 행을 출력하기
print(data.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [4]:
# data 변수를 MEDV 컬럼 기준으로 오름차순으로 정렬하기
print(data.sort_values(by='MEDV', ascending=True))

         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  \
398  38.35180   0.0  18.10     0  0.693    NaN  100.0  1.4896   24  666
405  67.92080   0.0  18.10     0  0.693  5.683  100.0  1.4254   24  666
400  25.04610   0.0  18.10     0  0.693  5.987  100.0  1.5888   24  666
399   9.91655   0.0  18.10     0  0.693  5.852   77.8  1.5004   24  666
414  45.74610   0.0  18.10     0  0.693  4.519  100.0  1.6582   24  666
..        ...   ...    ...   ...    ...    ...    ...     ...  ...  ...
166   2.01019   0.0  19.58     0  0.605  7.929   96.2  2.0459    5  403
195   0.01381  80.0   0.46     0  0.422  7.875   32.0  5.6484    4  255
283   0.01501  90.0   1.21     1  0.401  7.923   24.8  5.8850    1  198
225   0.52693   0.0   6.20     0  0.504  8.725   83.0  2.8944    8  307
186   0.05602   0.0   2.46     0  0.488  7.831   53.6  3.1992    3  193

     PTRATIO       B  LSTAT  MEDV
398     20.2  396.90  30.59   5.0
405     20.2  384.97  22.98   5.0
400     20.2  396.90  26.77   5.6
399     20.2  338.16  29.97   6.3
414     20.2   88.27  36.98   7.0
..       ...     ...    ...   ...
166     14.7  369.30   3.70  50.0
195     14.4  394.23   2.97  50.0
283     13.6  395.52   3.16  50.0
225     17.4  382.00   4.63  50.0
186     17.8  392.63   4.45  50.0

[506 rows x 14 columns]

In [5]:
print(help(pd.DataFrame.sort_values))

Help on function sort_values in module pandas.core.frame:

sort_values(self, by, axis: 'Axis' = 0, ascending=True, inplace: 'bool' = False, kind: 'str' = 'quicksort', na_position: 'str' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc' = None)
    Sort by the values along either axis.

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels.
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.

         .. versionadded:: 1.0.0

    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...    by="time",
    ...    key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

None

In [6]:
# MDEV 칼럼만 추출하기
print(data.sort_values(by='MEDV', ascending=True)['MEDV'])

398     5.0
405     5.0
400     5.6
399     6.3
414     7.0
       ...
166    50.0
195    50.0
283    50.0
225    50.0
186    50.0
Name: MEDV, Length: 506, dtype: float64

In [7]:
# 상위 10개 행을 출력하기
print(data.sort_values(by='MEDV', ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

### 1.2 결측치 확인하기
boston 데이터 세트의 RM 칼럼에 대한 결측치 처리를 평균값으로 대치하거나 삭제할 수 있다. RM 칼럼의 결측치를 평균값으로 대치한 후에 산출된 표준편차 값과 결측치를 삭제한 후에 산출된 표준편차 값의 차이를 구하시오. 단, 최종적으로 출력하는 차이는 양수이다.

In [8]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

In [9]:
# 결측치 여부 확인하기
print(data.isnull())

      CRIM     ZN  INDUS   CHAS    NOX     RM    AGE    DIS    RAD    TAX  \
0    False  False  False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False  False
4    False  False  False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
501  False  False  False  False  False  False  False  False  False  False
502  False  False  False  False  False   True  False  False  False  False
503  False  False  False  False  False  False  False  False  False  False
504  False  False  False  False  False  False  False  False  False  False
505  False  False  False  False  False  False  False  False  False  False

     PTRATIO      B  LSTAT   MEDV
0      False  False  False  False
1      False  False  False  False
2      False  False  False  False
3      False  False  False  False
4      False  False  False  False
..       ...    ...    ...    ...
501    False  False  False  False
502    False  False  False  False
503    False  False  False  False
504    False  False  False  False
505    False  False  False  False

[506 rows x 14 columns]

In [10]:
# 결측치인 True값들을 모두 더하기
print(data.isnull().sum())

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM         15
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64

In [11]:
# RM 칼럼을 추출한 후, data_mean 변수에 저장하기
data_mean = data['RM'].copy()
# data_mean 변수에서도 결측치 개수를 확인하기
print(data_mean.isnull().sum())

15

In [12]:
# data_mean 변수의 상위 3개 행 확인하기
print(data_mean.head(3))

0    6.575
1    6.421
2    7.185
Name: RM, dtype: float64

In [14]:
# data_mean 평균값을 rm_mean 변수에 저장하기
rm_mean = data_mean.mean()
# RM 칼럼의 평균값(rm_mean 변수)을 출력하기
print(rm_mean)

6.285101832993899

In [15]:
# data_mean의 변경결과를 저장하지 않고 결측치를 평균값으로 대치하기
print(data_mean.fillna(rm_mean, inplace=False))

0      6.575000
1      6.421000
2      7.185000
3      6.998000
4      7.147000
         ...
501    6.593000
502    6.285102
503    6.976000
504    6.794000
505    6.030000
Name: RM, Length: 506, dtype: float64

In [16]:
# data_mean의 결측치 개수 확인하기
print(data_mean.isnull().sum()) # inplace=False 옵션은 data_mean 변수에 영향을 미치지 못함

15

In [17]:
# data_mean의 변동결과를 저장하고 결측치를 평균값으로 대치하기
data_mean.fillna(rm_mean, inplace=True)
# data_mean의 결측치 개수 확인하기
print(data_mean.isnull().sum())

0

In [18]:
# RM 칼럼을 추출한 후, data_del 변수에 저장하기
data_del = data['RM'].copy()

# data_del 변수에서도 결측치 개수를 확인하기
print(data_del.isnull().sum())

15

In [19]:
# data_del 변수의 행/열 구조 확인하기
print(data_del.shape)

(506,)

In [20]:
# data_del 변수의 저장과 함께 결측치 삭제하기
data_del.dropna(inplace=True)

In [21]:
# data_del 변수의 행/열 구조 확인하기
print(data_del.shape)
# data_del의 결측치 개수 확인하기
print(data_del.isnull().sum())

(491,)
0

In [22]:
# data_mean 변수의 표준편차 구하기
print(data_mean.std())
# data_del 변수의 표준편차 구하기
print(data_del.std())

0.6975001826300911
0.7080957287241957

In [25]:
# data_mean 변수와 data_del 변수를 빼고 나서 절댓값을 취한 결과를 확인하기
print(abs(data_mean.std() - data_del.std()))

0.010595546094104624

In [26]:
# 최종 제출코드
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
data_mean = data['RM'].copy()
rm_mean = data_mean.mean()
data_mean.fillna(rm_mean, inplace=True)
data_del = data['RM'].copy()
data_del.dropna(inplace=True)
print(abs(data_mean.std() - data_del.std()))

0.010595546094104624

### 1.3 이상값 확인하기
boston 데이터 세트의 ZN 칼럼을 대상으로 ZN 값의 평균값에서 표준편차의 1.5배보다 크거나 작은 ZN 값의 합계를 구하시오.

In [27]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

In [28]:
# ZN 칼럼의 평균값을 zn_mean 변수에 저장하기
zn_mean = data['ZN'].mean()
# ZN 칼럼의 표준편차를 zn_std 변수에 저장하기
zn_std = data['ZN'].std()

In [29]:
# 평균값에서 1.5*표준편차 만큼 떨어진 값 구하기
zn_max = zn_mean + (1.5 * zn_std)
# 1.5*표준편차 만큼 떨어진 값을 확인하기
print(zn_max)

46.34731585540892

In [30]:
# 평균값에서 -1.5*표준편차 만큼 떨어진 값 구하기
zn_min = zn_mean - (1.5 * zn_std)
# -1.5*표준편차만큼 떨어진 값을 확인하기
print(zn_min)

-23.620043128136192

In [31]:
# zn_max보다 큰지 여부를 확인하기 
print(data['ZN'] > zn_max)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: ZN, Length: 506, dtype: bool

In [32]:
# ZN 칼럼이 zn_max보다 큰 값들만 확인하기
print(data[ data['ZN'] > zn_max])

        CRIM     ZN  INDUS  CHAS     NOX     RM   AGE      DIS  RAD  TAX  \
39   0.02763   75.0   2.95     0  0.4280  6.595  21.8   5.4011    3  252
40   0.03359   75.0   2.95     0  0.4280  7.024  15.8   5.4011    3  252
54   0.01360   75.0   4.00     0  0.4100  5.888  47.6   7.3197    3  469
55   0.01311   90.0   1.22     0  0.4030  7.249  21.9   8.6966    5  226
56   0.02055   85.0   0.74     0  0.4100  6.383  35.7   9.1876    2  313
57   0.01432  100.0   1.32     0  0.4110  6.816  40.5   8.3248    5  256
65   0.03584   80.0   3.37     0  0.3980  6.290  17.8   6.6115    4  337
66   0.04379   80.0   3.37     0  0.3980  5.787  31.1   6.6115    4  337
193  0.02187   60.0   2.93     0  0.4010  6.800   9.9   6.2196    1  265
194  0.01439   60.0   2.93     0  0.4010  6.604  18.8   6.2196    1  265
195  0.01381   80.0   0.46     0  0.4220  7.875  32.0   5.6484    4  255
196  0.04011   80.0   1.52     0  0.4040  7.287  34.1   7.3090    2  329
197  0.04666   80.0   1.52     0  0.4040  7.107  36.6   7.3090    2  329
198  0.03768   80.0   1.52     0  0.4040  7.274  38.3   7.3090    2  329
199  0.03150   95.0   1.47     0  0.4030  6.975  15.3   7.6534    3  402
200  0.01778   95.0   1.47     0  0.4030  7.135  13.9   7.6534    3  402
201  0.03445   82.5   2.03     0  0.4150  6.162  38.4   6.2700    2  348
202  0.02177   82.5   2.03     0  0.4150  7.610  15.7   6.2700    2  348
203  0.03510   95.0   2.68     0  0.4161  7.853  33.2   5.1180    4  224
204  0.02009   95.0   2.68     0  0.4161  8.034  31.9   5.1180    4  224
254  0.04819   80.0   3.64     0  0.3920  6.108  32.0   9.2203    1  315
255  0.03548   80.0   3.64     0  0.3920  5.876  19.1   9.2203    1  315
256  0.01538   90.0   3.75     0  0.3940  7.454  34.2   6.3361    3  244
283  0.01501   90.0   1.21     1  0.4010  7.923  24.8   5.8850    1  198
284  0.00906   90.0   2.97     0  0.4000  7.088  20.8   7.3073    1  285
285  0.01096   55.0   2.25     0  0.3890  6.453  31.9   7.3073    1  300
286  0.01965   80.0   1.76     0  0.3850  6.230  31.5   9.0892    1  241
287  0.03871   52.5   5.32     0  0.4050  6.209  31.3   7.3172    6  293
288  0.04590   52.5   5.32     0  0.4050  6.315  45.6   7.3172    6  293
289  0.04297   52.5   5.32     0  0.4050  6.565  22.9   7.3172    6  293
290  0.03502   80.0   4.95     0  0.4110  6.861  27.9   5.1167    4  245
291  0.07886   80.0   4.95     0  0.4110  7.148  27.7   5.1167    4  245
292  0.03615   80.0   4.95     0  0.4110  6.630  23.4   5.1167    4  245
298  0.06466   70.0   2.24     0  0.4000  6.345  20.1   7.8278    5  358
299  0.05561   70.0   2.24     0  0.4000  7.041  10.0   7.8278    5  358
300  0.04417   70.0   2.24     0  0.4000  6.871  47.4   7.8278    5  358
343  0.02543   55.0   3.78     0  0.4840  6.696  56.4   5.7321    5  370
344  0.03049   55.0   3.78     0  0.4840    NaN  28.1   6.4654    5  370
347  0.01870   85.0   4.15     0  0.4290  6.516  27.7   8.5353    4  351
348  0.01501   80.0   2.01     0  0.4350  6.635  29.7   8.3440    4  280
351  0.07950   60.0   1.69     0  0.4110  6.579  35.9  10.7103    4  411
352  0.07244   60.0   1.69     0  0.4110  5.884  18.5  10.7103    4  411
353  0.01709   90.0   2.02     0  0.4100  6.728  36.1  12.1265    5  187
354  0.04301   80.0   1.91     0  0.4130  5.663  21.9  10.5857    4  334
355  0.10659   80.0   1.91     0  0.4130  5.936  19.5  10.5857    4  334

     PTRATIO       B  LSTAT  MEDV
39      18.3  395.63   4.32  30.8
40      18.3  395.62   1.98  34.9
54      21.1  396.90  14.80  18.9
55      17.9  395.93   4.81  35.4
56      17.3  396.90   5.77  24.7
57      15.1  392.90   3.95  31.6
65      16.1  396.90   4.67  23.5
66      16.1  396.90  10.24  19.4
193     15.6  393.37   5.03  31.1
194     15.6  376.70   4.38  29.1
195     14.4  394.23   2.97  50.0
196     12.6  396.90   4.08  33.3
197     12.6  354.31   8.61  30.3
198     12.6  392.20   6.62  34.6
199     17.0  396.90   4.56  34.9
200     17.0  384.30   4.45  32.9
201     14.7  393.77   7.43  24.1
202     14.7  395.38   3.11  42.3
203     14.7  392.78   3.81  48.5
204     14.7  390.55   2.88  50.0
254     16.4  392.89   6.57  21.9
255     16.4  395.18   9.25  20.9
256     15.9  386.34   3.11  44.0
283     13.6  395.52   3.16  50.0
284     15.3  394.72   7.85  32.2
285     15.3  394.72   8.23  22.0
286     18.2  341.60  12.93  20.1
287     16.6  396.90   7.14  23.2
288     16.6  396.90   7.60  22.3
289     16.6  371.72   9.51  24.8
290     19.2  396.90   3.33  28.5
291     19.2  396.90   3.56  37.3
292     19.2  396.90   4.70  27.9
298     14.8  368.24   4.97  22.5
299     14.8  371.58   4.74  29.0
300     14.8  390.86   6.07  24.8
343     17.6  396.90   7.18  23.9
344     17.6  387.97   4.61  31.2
347     17.9  392.43   6.36  23.1
348     17.0  390.94   5.99  24.5
351     18.3  370.78   5.49  24.1
352     18.3  392.33   7.79  18.6
353     17.0  384.46   4.50  30.1
354     22.0  382.80   8.05  18.2
355     22.0  376.04   5.57  20.6

In [33]:
# ZN칼럼만 추출한 후, 해당 데이터를 zn_max2 변수에 저장하기
zn_max2 = data[data['ZN'] > zn_max]['ZN']
# zn_max2 변수의 데이터 확인하기
print(zn_max2)

39      75.0
40      75.0
54      75.0
55      90.0
56      85.0
57     100.0
65      80.0
66      80.0
193     60.0
194     60.0
195     80.0
196     80.0
197     80.0
198     80.0
199     95.0
200     95.0
201     82.5
202     82.5
203     95.0
204     95.0
254     80.0
255     80.0
256     90.0
283     90.0
284     90.0
285     55.0
286     80.0
287     52.5
288     52.5
289     52.5
290     80.0
291     80.0
292     80.0
298     70.0
299     70.0
300     70.0
343     55.0
344     55.0
347     85.0
348     80.0
351     60.0
352     60.0
353     90.0
354     80.0
355     80.0
Name: ZN, dtype: float64

In [34]:
# ZN 칼럼이 zn_min보다 작은 값들을 확인하기
print(data[data['ZN'] < zn_min])

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT, MEDV]
Index: []

In [35]:
# zn_max2 변수값의 합계 구하기
print(sum(zn_max2))

3462.5

In [36]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()
zn_max = zn_mean + (1.5 * zn_std)
zn_min = zn_mean - (1.5 * zn_std)
zn_max2 = data[data['ZN'] > zn_max]['ZN']
print(sum(zn_max2))

3462.5

In [41]:
data[(data['ZN'] > zn_max) | (data['ZN'] < zn_min)]['ZN'].sum()

3462.5

### 1.4 사분위수 구하기
boston 데이터 세트에서 CHAS 칼럼과 RAD 칼럼을 제외한 칼럼에 한해서 칼럼별 IQR 값을 구하시오. 단 출력구조는 2열이고 1열은 보스턴 세트의 칼럼 이름이 표시되어야 한다.

In [42]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

In [43]:
# data 변수의 행/열 구조 확인하기
print(data.shape)

(506, 14)

In [44]:
# CHAS, RAD 칼럼을 삭제하기
print(data.drop(columns=['CHAS', 'RAD']))

        CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO       B  \
0    0.00632  18.0   2.31  0.538  6.575  65.2  4.0900  296     15.3  396.90
1    0.02731   0.0   7.07  0.469  6.421  78.9  4.9671  242     17.8  396.90
2    0.02729   0.0   7.07  0.469  7.185  61.1  4.9671  242     17.8  392.83
3    0.03237   0.0   2.18  0.458  6.998  45.8  6.0622  222     18.7  394.63
4    0.06905   0.0   2.18  0.458  7.147  54.2  6.0622  222     18.7  396.90
..       ...   ...    ...    ...    ...   ...     ...  ...      ...     ...
501  0.06263   0.0  11.93  0.573  6.593  69.1  2.4786  273     21.0  391.99
502  0.04527   0.0  11.93  0.573    NaN  76.7  2.2875  273     21.0  396.90
503  0.06076   0.0  11.93  0.573  6.976  91.0  2.1675  273     21.0  396.90
504  0.10959   0.0  11.93  0.573  6.794  89.3  2.3889  273     21.0  393.45
505  0.04741   0.0  11.93  0.573  6.030  80.8  2.5050  273     21.0  396.90

     LSTAT  MEDV
0     4.98  24.0
1     9.14  21.6
2     4.03  34.7
3     2.94  33.4
4     5.33  36.2
..     ...   ...
501   9.67  22.4
502   9.08  20.6
503   5.64  23.9
504   6.48  22.0
505   7.88  11.9

[506 rows x 12 columns]

In [45]:
# data 변수에서 CHAS 칼럼과 RAD 칼럼을 삭제하기
data_col12 = data.drop(columns=['CHAS','RAD'])

# data_col12 변수의 행/열 확인하기
print(data_col12.shape)

(506, 12)

In [46]:
# data_col12 변수의 기초통계량 정보를 data_col12_desc 변수에 저장하기
data_col12_desc = data_col12.describe()

# data_col12_desc 변수 부르기
print(data_col12_desc)

             CRIM          ZN       INDUS         NOX          RM         AGE  \
count  506.000000  506.000000  506.000000  506.000000  491.000000  506.000000
mean     3.613524   11.363636   11.136779    0.554695    6.285102   68.574901
std      8.601545   23.322453    6.860353    0.115878    0.708096   28.148861
min      0.006320    0.000000    0.460000    0.385000    3.561000    2.900000
25%      0.082045    0.000000    5.190000    0.449000    5.886000   45.025000
50%      0.256510    0.000000    9.690000    0.538000    6.209000   77.500000
75%      3.677083   12.500000   18.100000    0.624000    6.622000   94.075000
max     88.976200  100.000000   27.740000    0.871000    8.780000  100.000000

              DIS         TAX     PTRATIO           B       LSTAT        MEDV
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.795043  408.237154   18.455534  356.674032   12.653063   22.532806
std      2.105710  168.537116    2.164946   91.294864    7.141062    9.197104
min      1.129600  187.000000   12.600000    0.320000    1.730000    5.000000
25%      2.100175  279.000000   17.400000  375.377500    6.950000   17.025000
50%      3.207450  330.000000   19.050000  391.440000   11.360000   21.200000
75%      5.188425  666.000000   20.200000  396.225000   16.955000   25.000000
max     12.126500  711.000000   22.000000  396.900000   37.970000   50.000000

In [47]:
# data_col12_desc 변수에서 4번행, 6번행 데이터를 가져오기
print(data_col12_desc.iloc[[4,6]])

         CRIM    ZN  INDUS    NOX     RM     AGE       DIS    TAX  PTRATIO  \
25%  0.082045   0.0   5.19  0.449  5.886  45.025  2.100175  279.0     17.4
75%  3.677083  12.5  18.10  0.624  6.622  94.075  5.188425  666.0     20.2

            B   LSTAT    MEDV
25%  375.3775   6.950  17.025
75%  396.2250  16.955  25.000

In [48]:
# data_col12_desc 변수의 4번, 6번 데이터의 행/열 구조를 바꾸기
print(data_col12_desc.iloc[[4,6]].T)

                25%         75%
CRIM       0.082045    3.677083
ZN         0.000000   12.500000
INDUS      5.190000   18.100000
NOX        0.449000    0.624000
RM         5.886000    6.622000
AGE       45.025000   94.075000
DIS        2.100175    5.188425
TAX      279.000000  666.000000
PTRATIO   17.400000   20.200000
B        375.377500  396.225000
LSTAT      6.950000   16.955000
MEDV      17.025000   25.000000

In [49]:
# 행/열이 바뀐 결과 데이터는 data_col12_desc_T 변수에 저장하기
data_col12_desc_T = data_col12_desc.iloc[[4,6]].T

In [50]:
# data_col12_desc_T 변수의 데이터 확인하기
print(data_col12_desc_T)

                25%         75%
CRIM       0.082045    3.677083
ZN         0.000000   12.500000
INDUS      5.190000   18.100000
NOX        0.449000    0.624000
RM         5.886000    6.622000
AGE       45.025000   94.075000
DIS        2.100175    5.188425
TAX      279.000000  666.000000
PTRATIO   17.400000   20.200000
B        375.377500  396.225000
LSTAT      6.950000   16.955000
MEDV      17.025000   25.000000

In [51]:
# 3사분위수에서 1사분위수를 빼서 IQR 구하기
print(data_col12_desc_T['75%'] - data_col12_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [53]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
data_col12 = data.drop(columns=['CHAS', 'RAD'])
data_col12_desc = data_col12.describe()
data_col12_desc_T = data_col12_desc.iloc[[4,6]].T
print(data_col12_desc_T['75%'] - data_col12_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

### 1.5 순위 구하기
boston 데이터 세트의 MEDV 칼럼을 기준으로 30번째로 큰 값을 1번~29번째로 큰 값에 적용한다. 그리고 MEDV 칼럼의 평균값, 중위값, 최소값, 최대값 순으로 한 줄에 출력하시오.

In [55]:
import pandas as pd 
data = pd.read_csv('bigData-main/boston.csv')

In [56]:
# data 변수에서 MEDV 칼럼 값을 추출하여 상위 3개의 행 확인하기
print(data['MEDV'].head(3))

0    24.0
1    21.6
2    34.7
Name: MEDV, dtype: float64

In [57]:
# MEDV 칼럼을 내림차순으로 정렬한 후, data_new 변수에 저장하기
data_new = data['MEDV'].sort_values(ascending=False)
# data_new 변수의 상위 30개 데이터 확인하기
print(data_new.head(30))

283    50.0
225    50.0
369    50.0
370    50.0
371    50.0
372    50.0
186    50.0
204    50.0
257    50.0
195    50.0
166    50.0
163    50.0
267    50.0
162    50.0
161    50.0
368    50.0
262    48.8
203    48.5
233    48.3
228    46.7
282    46.0
280    45.4
224    44.8
256    44.0
98     43.8
268    43.5
261    43.1
253    42.8
202    42.3
232    41.7
Name: MEDV, dtype: float64

In [58]:
# 30번째로 큰 값을 확인하기
print(data_new.iloc[29])

41.7

In [59]:
# 1번~29번째 (행번호 0~28)로 큰 값 확인하기
print(data_new.iloc[0:28])

283    50.0
225    50.0
369    50.0
370    50.0
371    50.0
372    50.0
186    50.0
204    50.0
257    50.0
195    50.0
166    50.0
163    50.0
267    50.0
162    50.0
161    50.0
368    50.0
262    48.8
203    48.5
233    48.3
228    46.7
282    46.0
280    45.4
224    44.8
256    44.0
98     43.8
268    43.5
261    43.1
253    42.8
Name: MEDV, dtype: float64

In [60]:
# 1번째~29번째 큰 값들은 41.7로 변경하기
data_new.iloc[0:28] = 41.7

# 1번째~29번째 큰 값들을 확인하기
print(data_new.iloc[0:28])

283    41.7
225    41.7
369    41.7
370    41.7
371    41.7
372    41.7
186    41.7
204    41.7
257    41.7
195    41.7
166    41.7
163    41.7
267    41.7
162    41.7
161    41.7
368    41.7
262    41.7
203    41.7
233    41.7
228    41.7
282    41.7
280    41.7
224    41.7
256    41.7
98     41.7
268    41.7
261    41.7
253    41.7
Name: MEDV, dtype: float64

In [61]:
# data_new 변수에서 평균값, 중위값, 최솟값, 최댓값 구하기
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.180830039525684 21.2 5.0 42.3

In [62]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
data_new = data['MEDV'].sort_values(ascending=False)
data_new_30th = data_new.iloc[29]
data_new.iloc[0:28] = data_new_30th
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.180830039525684 21.2 5.0 42.3

## 2. 복잡한 데이터 분석

### 2.1 그룹별 집계/요약하기
boston 데이터세트의 TAX 칼럼이 TAX 칼럼의 중위값보다 큰 데이터를 대상으로, CHAS 칼럼과 RAD 칼럼 순으로 그룹을 지은 후 각 그룹의 데이터 개수를 구하시오. 단, CHAS, RAD 칼럼별 데이터 개수는 COUNT라는 칼럼으로 출력합니다.

In [8]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

          CRIM   ZN  INDUS  NOX   RM  AGE  DIS  TAX  PTRATIO    B  LSTAT  MEDV
CHAS RAD
0    1       3    3      3    3    3    3    3    3        3    3      3     3
     2       2    2      2    2    2    2    2    2        2    2      2     2
     3       5    5      5    5    5    5    5    5        5    5      5     5
     4      33   33     33   33   32   33   33   33       33   33     33    33
     5      51   51     51   51   48   51   51   51       51   51     51    51
     6      17   17     17   17   16   17   17   17       17   17     17    17
     24    124  124    124  124  122  124  124  124      124  124    124   124
1    5       7    7      7    7    7    7    7    7        7    7      7     7
     24      8    8      8    8    8    8    8    8        8    8      8     8

In [9]:
# TAX 칼럼의 중위값 구하기
tax_median = data['TAX'].median()

# TAX 칼럼의 중위값 확인하기
print(tax_median)

330.0

In [10]:
# TAX 칼럼에서 tax_median보다 큰지 여부를 확인하기
print(data['TAX'] > tax_median)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: TAX, Length: 506, dtype: bool

In [11]:
# TAX 칼럼이 중위값보다 큰 값들만 추출해서 확인하기
print(data[data['TAX'] > tax_median])

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
54   0.01360  75.0   4.00     0  0.410  5.888  47.6  7.3197    3  469
65   0.03584  80.0   3.37     0  0.398  6.290  17.8  6.6115    4  337
66   0.04379  80.0   3.37     0  0.398  5.787  31.1  6.6115    4  337
67   0.05789  12.5   6.07     0  0.409  5.878  21.4  6.4980    4  345
68   0.13554  12.5   6.07     0  0.409  5.594  36.8  6.4980    4  345
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
496  0.28960   0.0   9.69     0  0.585  5.390  72.9  2.7986    6  391
497  0.26838   0.0   9.69     0  0.585    NaN  70.6  2.8927    6  391
498  0.23912   0.0   9.69     0  0.585  6.019  65.3  2.4091    6  391
499  0.17783   0.0   9.69     0  0.585  5.569  73.5  2.3999    6  391
500  0.22438   0.0   9.69     0  0.585  6.027  79.7  2.4982    6  391

     PTRATIO       B  LSTAT  MEDV
54      21.1  396.90  14.80  18.9
65      16.1  396.90   4.67  23.5
66      16.1  396.90  10.24  19.4
67      18.9  396.21   8.10  22.0
68      18.9  396.90  13.09  17.4
..       ...     ...    ...   ...
496     19.2  396.90  21.14  19.7
497     19.2  396.90  14.10  18.3
498     19.2  396.90  12.92  21.2
499     19.2  395.77  15.10  17.5
500     19.2  396.90  14.33  16.8

[250 rows x 14 columns]

In [14]:
# TAX 칼럼에서 중위값보다 큰 값을 기준으로 CHAS 칼럼과 RAD 칼럼만 추출하기
print(data[data['TAX'] > tax_median][['CHAS', 'RAD']])

# 앞선 결과를 data_new 변수에 저장하기
data_new = data[data['TAX'] > tax_median][['CHAS', 'RAD']]

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
..    ...  ...
496     0    6
497     0    6
498     0    6
499     0    6
500     0    6

[250 rows x 2 columns]

In [15]:
# CHAS 칼럼에 들어있는 값 종류를 확인하기
print(data_new['CHAS'].unique())
# RAD 칼럼에 들어있는 값 종류를 확인하기
print(data_new['RAD'].unique())

[0 1]
[ 3  4  5  6  2  1 24]

In [16]:
# CHAS, RAD 칼럼 순으로 그룹을 짓고, 그룹 안에 속한 RAD 칼럼 값을 센 변수 만들기
data_new2 = data_new.groupby(['CHAS','RAD'])['RAD'].count()

# data_new2 변수의 결과 확인하기
print(data_new2)

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: RAD, dtype: int64

In [21]:
# data_new2 변수의 데이터타입 확인하기
print(type(data_new2))
# data_new2 변수를 데이터프레임 타입으로 변경하고, data_new3 변수에 저장하기
data_new3 = pd.DataFrame(data_new2)
# data_new3 변수에서 카운트 연산을 수행한 결과 컬럼 이름은 COUNT로 설정하기
data_new3.columns = ['COUNT']
# 최종 제출 가능한 data_new3 값을 확인하기
print(data_new3)

<class 'pandas.core.series.Series'>
          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

In [23]:
# 최종 정리
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
tax_median = data['TAX'].median()
data[data['TAX'] > tax_median]
data_new = data[data['TAX'] > tax_median][['CHAS', 'RAD']]
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()
data_new3 = pd.DataFrame(data_new2)
data_new3.columns = ['COUNT']
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

### 2.2 오름차순/내림차순 정렬하기
boston 데이터 세트의 TAX 칼럼을 오름차순으로 정렬한 결과와 내림차순으로 정렬한 결과를 각각 구한다. 그리고 각 순번에 맞는 오름차순 값과 내림차순 값의 차이를 구하여 분산 값을 출력하시오.

In [28]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

In [29]:
# TAX 칼럼을 추출하여 data_asc 변수에 저장하기
data_asc = data['TAX'].copy()
# TAX 칼럼을 추출하여 data_desc 변수에 저장하기
data_desc = data['TAX'].copy()

In [30]:
# data_asc 변수를 오름차순으로 정렬하기
print(data_asc.sort_values(ascending=True))

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [31]:
# data_asc 변수를 오름차순으로 정렬하고, 정렬된 데이터를 data_asc 변수에 저장하기
data_asc.sort_values(inplace=True)
# data_asc 변수를 확인하기
print(data_asc)

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [32]:
# data_desc 변수를 내림차순으로 정렬하기
print(data_desc.sort_values(ascending=False))

492    711
491    711
490    711
489    711
488    711
      ...
121    188
120    188
125    188
124    188
353    187
Name: TAX, Length: 506, dtype: int64

In [33]:
# data_desc 변수를 내림차순으로 정렬하고, 정렬된 데이터를 data_desc 변수에 저장하기
data_desc.sort_values(ascending=False, inplace=True)
# data_desc 변수를 확인하기
print(data_desc)

492    711
491    711
490    711
489    711
488    711
      ...
121    188
120    188
125    188
124    188
353    187
Name: TAX, Length: 506, dtype: int64

In [35]:
# data_asc 변수의 인덱스를 재설정하기
data_asc.reset_index(drop=True, inplace=True)

# data_asc 변수를 확인하기
print(data_asc)
# data_desc 변수의 인덱스를 재설정하기
data_desc.reset_index(drop=True, inplace=True)

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [36]:
# data_asc, data_desc 변수를 칼럼 기준으로 통합한 후, data_concat 변수에 저장하기
data_concat = pd.concat([data_asc, data_desc], axis=1)
# data_concat 변수 확인하기
print(data_concat)

     TAX  TAX
0    187  711
1    188  711
2    188  711
3    188  711
4    188  711
..   ...  ...
501  711  188
502  711  188
503  711  188
504  711  188
505  711  187

[506 rows x 2 columns]

In [37]:
# data_concat 변수에서 첫번째 칼럼을 추출하기
print(data_concat.iloc[:, 0])

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [38]:
# data_concat 변수에서 두번째 칼럼을 추출하기
print(data_concat.iloc[:, 1])

0      711
1      711
2      711
3      711
4      711
      ...
501    188
502    188
503    188
504    188
505    187
Name: TAX, Length: 506, dtype: int64

In [39]:
# (첫번째 칼럼- 두번째 칼럼)에 절댓값을 취한 후, data_concat 변수의 diff에 저장하기
data_concat['diff'] = abs(data_concat.iloc[:,0] - data_concat.iloc[:,1])
# diff 칼럼이 추가된 data_concat 변수 확인하기
print(data_concat)

     TAX  TAX  diff
0    187  711   524
1    188  711   523
2    188  711   523
3    188  711   523
4    188  711   523
..   ...  ...   ...
501  711  188   523
502  711  188   523
503  711  188   523
504  711  188   523
505  711  187   524

[506 rows x 3 columns]

In [40]:
# diff 칼럼의 분산 구하기
print(data_concat['diff'].var())

28490.5986459515

In [42]:
# 정리 
import pandas as pd 
data = pd.read_csv('bigData-main/boston.csv')
data_asc = data['TAX'].copy()
data_desc = data['TAX'].copy()
data_asc.sort_values(ascending=True, inplace=True)
data_desc.sort_values(ascending=False, inplace=True)
data_asc.reset_index(drop=True, inplace=True)
data_desc.reset_index(drop=True, inplace=True)
data_concat = pd.concat([data_asc, data_desc], axis=1)
data_concat['diff'] = abs(data_concat.iloc[:, 0] - data_concat.iloc[:, 1])
print(data_concat['diff'].var())

28490.5986459515

### 2.3 최소 최대 변환하기(MinMaxScaler)
boston 데이터 세트의 MEDV 칼럼을 최소최대 척도(MinMaxScale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [51]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
# sklearn 라이브러리의 preprocessing 모듈에서 MinMaxScaler 함수를 가져오기
from sklearn.preprocessing import MinMaxScaler

In [52]:
# MinMaxScaler() 함수를 수행할 빈 박스 생성하기
scaler = MinMaxScaler()
# 최소 최대 척도로 변환하기
data_minmax = scaler.fit_transform(data)

In [53]:
# data_minmax 변수의 데이터 타입 확인하기
print(type(data_minmax))

<class 'numpy.ndarray'>

In [54]:
# data_minmax 변수를 데이터프레임으로 변환하기
data_minmax = pd.DataFrame(data_minmax, columns=data.columns)
# data_minmax 변수의 상위 3개 행을 출력하기
print(data_minmax.head(3))

       CRIM    ZN     INDUS  CHAS       NOX        RM       AGE       DIS  \
0  0.000000  0.18  0.067815   0.0  0.314815  0.577505  0.641607  0.269203
1  0.000236  0.00  0.242302   0.0  0.172840  0.547998  0.782698  0.348962
2  0.000236  0.00  0.242302   0.0  0.172840  0.694386  0.599382  0.348962

        RAD       TAX   PTRATIO         B     LSTAT      MEDV
0  0.000000  0.208015  0.287234  1.000000  0.089680  0.422222
1  0.043478  0.104962  0.553191  1.000000  0.204470  0.368889
2  0.043478  0.104962  0.553191  0.989737  0.063466  0.660000

In [55]:
# data_minmax 변수의 MEDV 칼럼에 대한 기초통계량 구하기
print(data_minmax['MEDV'].describe())

count    506.000000
mean       0.389618
std        0.204380
min        0.000000
25%        0.267222
50%        0.360000
75%        0.444444
max        1.000000
Name: MEDV, dtype: float64

In [56]:
# MEDV 칼럼의 값이 0.5보다 큰지를 확인하기
print(data_minmax['MEDV'] > 0.5)

0      False
1      False
2       True
3       True
4       True
       ...
501    False
502    False
503    False
504    False
505    False
Name: MEDV, Length: 506, dtype: bool

In [57]:
# data_minmax 변수의 MEDV 칼럼에서 0.5를 초과하는 전체 값을 출력하기
print(data_minmax[data_minmax['MEDV'] > 0.5])

         CRIM    ZN     INDUS  CHAS       NOX        RM       AGE       DIS  \
2    0.000236  0.00  0.242302   0.0  0.172840  0.694386  0.599382  0.348962
3    0.000293  0.00  0.063050   0.0  0.150206  0.658555  0.441813  0.448545
4    0.000705  0.00  0.063050   0.0  0.150206  0.687105  0.528321  0.448545
5    0.000264  0.00  0.063050   0.0  0.150206  0.549722  0.574665  0.448545
39   0.000240  0.75  0.091276   0.0  0.088477  0.581337  0.194645  0.388428
..        ...   ...       ...   ...       ...       ...       ...       ...
370  0.073423  0.00  0.646628   1.0  0.506173  0.662004  0.974253  0.006620
371  0.103698  0.00  0.646628   0.0  0.506173  0.508718  1.000000  0.003592
372  0.092851  0.00  0.646628   1.0  0.582305  0.443380  0.892894  0.000000
407  0.134256  0.00  0.646628   0.0  0.563786  0.392221  1.000000  0.014149
473  0.052159  0.00  0.646628   0.0  0.471193  0.655106  0.666323  0.127609

          RAD       TAX   PTRATIO         B     LSTAT      MEDV
2    0.043478  0.104962  0.553191  0.989737  0.063466  0.660000
3    0.086957  0.066794  0.648936  0.994276  0.033389  0.631111
4    0.086957  0.066794  0.648936  1.000000  0.099338  0.693333
5    0.086957  0.066794  0.648936  0.992990  0.096026  0.526667
39   0.086957  0.124046  0.606383  0.996798  0.071468  0.573333
..        ...       ...       ...       ...       ...       ...
370  1.000000  0.914122  0.808511  0.987770  0.033940  1.000000
371  1.000000  0.914122  0.808511  0.922462  0.215232  1.000000
372  1.000000  0.914122  0.808511  0.876393  0.197296  1.000000
407  1.000000  0.914122  0.808511  0.836578  0.286976  0.508889
473  1.000000  0.914122  0.808511  0.943971  0.274007  0.551111

[106 rows x 14 columns]

In [58]:
# data_minmax 변수의 MEDV 칼럼에서 0.5를 초과하는 MEDV 값만 출력하기
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'])

# data_minmax 변수의 MEDV 칼럼에서 0.5를 초과하는 MEDV 값의 개수 세기
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'].count())

2      0.660000
3      0.631111
4      0.693333
5      0.526667
39     0.573333
         ...
370    1.000000
371    1.000000
372    1.000000
407    0.508889
473    0.551111
Name: MEDV, Length: 106, dtype: float64
106

In [59]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data = pd.read_csv('bigData-main/boston.csv')
scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(data)
data_minmax = pd.DataFrame(data_minmax, columns = data.columns)
print(data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'].count())

106

### 2.4 빈도값 구하기
boston 데이터 세트의 AGE 칼럼을 소수점 첫번째 자리에서 반올림하고, 가장 많은 비중을 차지하는 AGE 값과 그 개수를 차례대로 출력하시오. 즉, AGE 칼럼의 최빈값과 그 개수를 출력하시오.

In [82]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')

In [83]:
# data 변수의 AGE 칼럼 확인하기
print(data['AGE'])

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

In [84]:
# data 변수의 AGE 칼럼을 반올림해서 일의 자리로 만들기
print(round(data['AGE'], 0))
# 반올림한 값들을 data2 변수에 저장하기
data2 = round(data['AGE'], 0)

0      65.0
1      79.0
2      61.0
3      46.0
4      54.0
       ...
501    69.0
502    77.0
503    91.0
504    89.0
505    81.0
Name: AGE, Length: 506, dtype: float64

In [97]:
# 시리즈인 data2 변수를 데이터프레임으로 변환하여 data2에 다시 저장하기
data2 = pd.DataFrame(data2)

# data2 변수에서 AGE 칼럼으로 그룹화하고, 그룹별 AGE 칼럼의 개수 세기
print(data2.groupby(['AGE'])['AGE'].count())

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [98]:
# 그룹화 결과를 data3 변수에 저장하기
data3 = data2.groupby(['AGE'])['AGE'].count()

# data3 변수 확인하기
print(data3)

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [99]:
# data3 변수의 데이터 타입 확인하기
print(type(data3))
# data3 변수를 데이터프레임 타입으로 변환하기
data3 = pd.DataFrame(data3)
# data3 변수의 데이터타입 확인하기
print(type(data3))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [100]:
# data3 변수의 칼럼 이름 확인하기
print(data3.columns)
# data3 변수의 유일한 칼럼은 COUNT로 설정하기
data3.columns = ['COUNT']
# data3 변수의 상위 3개 데이터 확인하기
print(data3.head(3))

Index(['AGE'], dtype='object')
     COUNT
AGE
3.0      1
6.0      3
7.0      3

In [101]:
# data3 변수의 기존 인덱스는 칼럼으로 사용하고, 일련번호를 새로운 인덱스로 저장하기
data3.reset_index(drop=False, inplace=True)
# data3 변수의 상위 3개 데이터 확인하기
print(data3.head(3))

   AGE  COUNT
0  3.0      1
1  6.0      3
2  7.0      3

In [102]:
# data3 변수의 COUNT 칼럼 기준으로 내림차순 정렬하기
data3.sort_values(by='COUNT', ascending=False, inplace=True)
# data3 변수의 상위 3개 데이터 확인하기
print(data3.head(3))

      AGE  COUNT
90  100.0     43
88   98.0     19
87   97.0     17

In [103]:
# data3 변수의 AGE 칼럼에서 최빈값과 그 개수를 출력하기
print(data3.iloc[0, 0], data3.iloc[0, 1])

100.0 43

In [104]:
# 두번째 방법
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
# data 변수의 AGE 칼럼 확인하기
print(data['AGE'])
# data 변수의 AGE 칼럼을 반올림해서 일의 자리로 만들기
print(round(data['AGE'], 0))
# 반올림한 값들을 data2 변수에 저장하기
data2 = round(data['AGE'], 0)

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64
0      65.0
1      79.0
2      61.0
3      46.0
4      54.0
       ...
501    69.0
502    77.0
503    91.0
504    89.0
505    81.0
Name: AGE, Length: 506, dtype: float64

In [105]:
# scipy 라이브러리의 stats 모듈에서 mode 함수 가져오기
from scipy.stats import mode

In [106]:
# data2 변수의 최빈값과 개수 구하기
print(mode(data2))

ModeResult(mode=array([100.]), count=array([43]))

In [107]:
# data2 변수의 최빈값만 추출하기
print(mode(data2)[0])
# data2 변수의 최빈값 개수만 추출하기
print(mode(data2)[1])

[100.]
[43]

In [108]:
# 최빈값을 정수형으로 변환하기
print(int(mode(data2)[0]))
# 최빈값 개수를 정수형으로 변환하기
print(int(mode(data2)[1]))

100
43

In [109]:
# 각 코드를 통합하여 최종 출력하기
print(int(mode(data2)[0]), int(mode(data2)[1]))

100 43

In [110]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
from scipy.stats import mode
print(int(mode(round(data['AGE'], 0))[0]), int(mode(round(data['AGE'], 0))[1]))

100 43

### 2.5 표준 변환하기
boston 데이터 세트(boston.csv)의 DIS 칼럼을 표준화 척도(Standard Scale)로 변환한 후, 0.4보다 크면서 0.6보다 작은 값들에 대한 평균을 구하시오. 단, 소수점 셋째 자리에서 반올림하여 소수점 둘째 자리까지 출력하시오

In [128]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
# sklearn 라이브러리의 preprocessing 모듈에서 StandardScaler 함수를 가져오기
from sklearn.preprocessing import StandardScaler

In [129]:
# StandardScaler 함수를 수행할 빈 박스 생성하기
scaler = StandardScaler()
# 표준화 척도로 변환하기
data_stdd = scaler.fit_transform(data)
# data_stdd 변수의 데이터 타입 확인하기
print(type(data_stdd))

<class 'numpy.ndarray'>

In [130]:
# data_stdd 변수를 데이터 프레임으로 변환하기
data_stdd = pd.DataFrame(data_stdd, columns=data.columns)

In [131]:
# DIS 칼럼의 값이 0.4보다 크고, 0.6보다 작은지를 확인하기
print((data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6))

0      False
1       True
2       True
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: DIS, Length: 506, dtype: bool

In [132]:
# data_stdd 변수의 DIS 칼럼이 0.4~0.6 사이에 있는 전체 값을 출력하기
print(data_stdd[(data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6)])

         CRIM        ZN     INDUS      CHAS       NOX        RM       AGE  \
1   -0.417339 -0.487722 -0.593381 -0.272599 -0.740262  0.192116  0.367166
2   -0.417342 -0.487722 -0.593381 -0.272599 -0.740262  1.272167 -0.265812
13  -0.347230 -0.487722 -0.437258 -0.272599 -0.144217 -0.475140 -0.240919
26  -0.342325 -0.487722 -0.437258 -0.272599 -0.144217 -0.667400  0.772557
78  -0.413947 -0.487722  0.247057 -0.272599 -1.016689 -0.075069 -0.528960
84  -0.414630 -0.487722 -0.969827 -0.272599 -0.913029  0.146879 -0.731655
276 -0.408334  1.229060 -0.689681  3.668398 -0.930305  1.388089 -0.696095
277 -0.413387  1.229060 -0.689681  3.668398 -0.930305  0.764656 -1.457091
280 -0.416354  0.370669 -1.139082 -0.272599 -0.965723  2.169853 -0.144906
322 -0.379654 -0.487722 -0.548149 -0.272599 -0.532942 -0.345082 -0.664090
323 -0.387477 -0.487722 -0.548149 -0.272599 -0.532942 -0.815837  0.203588
324 -0.380824 -0.487722 -0.548149 -0.272599 -0.532942  0.183634 -1.012584
338 -0.416670 -0.487722 -0.867691 -0.272599 -0.342899 -0.319635 -1.112153
339 -0.414120 -0.487722 -0.867691 -0.272599 -0.342899 -0.424248 -0.824113
340 -0.413359 -0.487722 -0.867691 -0.272599 -0.342899 -0.448280 -0.358269

          DIS       RAD       TAX   PTRATIO         B     LSTAT      MEDV
1    0.557160 -0.867883 -0.987329 -0.303094  0.441052 -0.492439 -0.101524
2    0.557160 -0.867883 -0.987329 -0.303094  0.396427 -1.208727  1.324247
13   0.433754 -0.637962 -0.601276  1.176466  0.441052 -0.615792 -0.232129
26   0.421632 -0.637962 -0.601276  1.176466  0.221545  0.302346 -0.645712
78   0.579502 -0.523001 -0.060801  0.113032  0.325926 -0.043883 -0.145059
84   0.467933 -0.752922 -0.957633  0.020560  0.441052 -0.425156  0.148802
276  0.471641 -0.637962 -0.916058 -0.395567  0.357175 -0.925576  1.160990
277  0.507579 -0.637962 -0.916058 -0.395567  0.403225 -1.190505  1.150107
280  0.427669 -0.523001 -1.141751 -1.643945  0.335904 -1.246574  2.488808
322  0.440219 -0.523001 -0.720062  0.529158  0.441052 -0.694290 -0.232129
323  0.440219 -0.523001 -0.720062  0.529158  0.377788 -0.127988 -0.438920
324  0.440219 -0.523001 -0.720062  0.529158  0.441052 -0.915764  0.268523
338  0.483525 -0.523001 -1.094237  0.806576  0.432719 -0.580749 -0.210362
339  0.483525 -0.523001 -1.094237  0.806576  0.441052 -0.408335 -0.384502
340  0.483525 -0.523001 -1.094237  0.806576  0.441052 -0.471413 -0.417153

In [133]:
# 간소화 목적으로 앞의 결과 데이터를 data_stdd 변수에 다시 저장하기
data_stdd = data_stdd[(data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6)]

In [134]:
# data_stdd 변수의 DIS 칼럼만 추출하기 
print(data_stdd['DIS'])

1      0.557160
2      0.557160
13     0.433754
26     0.421632
78     0.579502
84     0.467933
276    0.471641
277    0.507579
280    0.427669
322    0.440219
323    0.440219
324    0.440219
338    0.483525
339    0.483525
340    0.483525
Name: DIS, dtype: float64

In [135]:
# DIS 칼럼의 평균값 구하기
print(data_stdd['DIS'].mean())
# DIS 칼럼의 평균값을 소수점 셋째 자리에서 반올림하기
print(round(data_stdd['DIS'].mean(), 2))

0.479684212855197
0.48

In [136]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
data = pd.read_csv('bigData-main/boston.csv')
scaler = StandardScaler()
data_stdd = scaler.fit_transform(data)
data_stdd = pd.DataFrame(data_stdd, columns=data.columns)
data_stdd = data_stdd[(data_stdd['DIS'] > 0.4) & (data_stdd['DIS'] < 0.6)]
print(round(data_stdd['DIS'].mean(), 2))

0.48

### 2.6 유니크한 값 구하기
boston 데이터 세트의 전체 칼럼에 대해서 중복을 제거한 유니크한 값을 구한 후, 칼럼별로 유니크한 값의 개수를 기준으로 평균값을 구하시오.

In [139]:
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
# data 변수의 칼럼 목록 확인하기
print(data.columns)
# data 변수의 칼럼 목록을 data_col 변수에 저장하기
data_col = data.columns
# data_col 변수 안의 개수 구하기
print(data_col.size)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')
14

In [140]:
# CHAS 칼럼에서 유일한 값들의 목록 확인하기
print(data['CHAS'].unique())

[0 1]

In [141]:
# 데이터 프레임 타입으로 변환하기
print(pd.DataFrame(data['CHAS'].unique()))
# 결과 건수를 계산하기
print(pd.DataFrame(data['CHAS'].unique()).count())

   0
0  0
1  1
0    2
dtype: int64

In [142]:
# CHAS 칼럼의 유니크한 값 개수를 정수형으로 변환해 출력하기
print(int(pd.DataFrame(data['CHAS'].unique()).count()))

2

In [145]:
# 두번째 방법
import pandas as pd
data = pd.read_csv('bigData-main/boston.csv')
# data 변수의 칼럼 목록 확인하기
print(data.columns)
# data 변수의 칼럼 목록을 data_col 변수에 저장하기
data_col = data.columns
# data_col 변수 안의 개수 구하기
print(data_col.size)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')
14

In [146]:
# 최초 합계는 0으로 설정하기
sum = 0 
# data 변수의 칼럼별로 유니크한 값 개수를 구한 후, sum 변수에 더하는 for문 만들기
for 한개씩 in data_col:
    sum = sum + int(pd.DataFrame(data[한개씩].unique()).count()[0])

# sum 변수 확인하기
print(sum)

3052

In [147]:
# data_col 변수의 사이즈 확인하기
print(data_col.size)
# sum 변수의 data_col.size 값을 나누기
print(sum / data_col.size)

14
218.0

In [150]:
import pandas as pd 
data = pd.read_csv('bigData-main/boston.csv')
data_col = data.columns
sum = 0
for 한개씩 in data_col : 
    sum = sum + int(pd.DataFrame(data[한개씩].unique()).count()[0])
print(sum / data_col.size)

218.0