In [1]:
from sklearn import datasets
import pandas as pd
iris = datasets.load_iris()

target = iris['target']

data = pd.DataFrame(data = iris['data'], columns=iris['feature_names'])
target = pd.DataFrame(data = iris['target'], columns=['species'])

df = pd.concat([data, target], axis=1)

In [2]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [ ]:
df['species'].value_counts()

0    50
1    50
2    50
Name: species, dtype: int64

In [8]:
# 1. 종(species) 별로 petal_width 상위 25%값을 구한 후, 가장 큰값과 가장 작은값 사이의 차이를 출력하시오.
print(df.groupby('species')['petal width (cm)'].quantile(0.75).max() - df.groupby('species')['petal width (cm)'].quantile(0.75).min())

1.9999999999999998

In [9]:
data = df.groupby('species')['petal width (cm)'].quantile(0.75)
print(data.max() - data.min())

1.9999999999999998

In [21]:
# 2. sepal_length 변수의 전체 값들을 중복 없이, 오름차순으로 정렬했을 때 리스트의 10번째 값을 출력하시오.
#print(df['sepal length (cm)'].unique().sort_values())
#print(type(df['sepal length (cm)'].unique()))
data = pd.DataFrame(df['sepal length (cm)'].unique())
data = data.sort_values(0)
print(data.iloc[9,0])

5.2

In [28]:
# 3. sepal_width 변수 값으로 내림차순 후 위에서부터 100개 행의 표준편차 값을 구한 후 50을 곱한 값을 출력하시오.
# (단 최종 계산값의 소수점 이하는 버림)
data = df['sepal width (cm)'].sort_values(ascending=False)
print(int(data.iloc[0:100].std()*50))

16

In [34]:
data = df['sepal width (cm)'].sort_values(ascending=False).reset_index(drop=True)
print(int(data.loc[0:99].std()*50))

16

In [39]:
# 4. 종(species) 별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 출력하시오.
# (소수점 이하 버림)
data = df.sort_values(by='petal length (cm)', ascending=False)
data = data.groupby('species').head(10)
print(int(data.groupby('species')['petal length (cm)'].mean().sum()))

12

In [42]:
# 5. speal_length 변수가 이상치를 가지는 데이터 행의 수를 출력하시오 
# (단, 이상치 범위는 (평균+2*표준편차) 이상이거나 (평균-2*표준편차) 이하)
out_max = df['sepal length (cm)'].mean() + 2 * df['sepal length (cm)'].std()
out_min = df['sepal length (cm)'].mean() - 2 * df['sepal length (cm)'].std()
#print(out_max, out_min)
print(len(df[(df['sepal length (cm)'] >= out_max) | (df['sepal length (cm)'] <= out_min)]))

6

df[df['컬럼'] == 값]  
df[(df['컬럼'] == 값) & (df['컬럼2'] == 값2)]

In [ ]:
# species가 0인것
df[df['species'] == 0]

In [ ]:
df['species'] == 0