In [1]:
from sklearn import datasets
import pandas as pd
wine = datasets.load_wine()

target = wine['target']

data = pd.DataFrame(data = wine['data'], columns=wine['feature_names'])
target = pd.DataFrame(data = wine['target'], columns=['class'])

df = pd.concat([data, target], axis=1)

In [ ]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [ ]:
df['class'].value_counts()

1    71
0    59
2    48
Name: class, dtype: int64

In [ ]:
df.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'class'],
      dtype='object')

In [ ]:
# 1.  total_phenols 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후, 
# alcalinity_of_ash 평균값을 출력하시오.(소수점 이하 버림)
df['total_phenols']=df['total_phenols'].dropna()
#print(df['alcalinity_of_ash'].median())
med = df['alcalinity_of_ash'].median()
df['alcalinity_of_ash']=df['alcalinity_of_ash'].fillna(med) # 변경된 데이터프레임을 리턴
print(int(df['alcalinity_of_ash'].mean()))

19

In [ ]:
# 데이터프레임 자체를 변경
df['alcalinity_of_ash'].fillna(med, inplace=True)

In [ ]:
# 결측치 치환
# 중앙값 : median(), 
# max(), min(), mean()
# 최빈값 : mode()[0]
import numpy as np
df.loc[0,'alcalinity_of_ash'] = np.nan
print(df.iloc[0])
mod = df['alcalinity_of_ash'].mode()
df['alcalinity_of_ash'].fillna(mod)

alcohol                           14.23
malic_acid                         1.71
ash                                2.43
alcalinity_of_ash                   NaN
magnesium                        127.00
total_phenols                      2.80
flavanoids                         3.06
nonflavanoid_phenols               0.28
proanthocyanins                    2.29
color_intensity                    5.64
hue                                1.04
od280/od315_of_diluted_wines       3.92
proline                         1065.00
class                              0.00
Name: 0, dtype: float64

0      20.0
1      11.2
2      18.6
3      16.8
4      21.0
       ...
173    20.5
174    23.0
175    20.0
176    20.0
177    24.5
Name: alcalinity_of_ash, Length: 178, dtype: float64

In [ ]:
df['alcalinity_of_ash'].mode()[0]

20.0

In [2]:
# 2. alcohol 값이 alcohol 평균값 이상이고, color_intensity값이 color_intensity 평균값 이상인 
# 데이터만 남겼을 때, 가장 많은 class 값을 출력하시오.
mean1 = df['alcohol'].mean()
mean2 = df['color_intensity'].mean()
#print(mean1, mean2)
data = df[(df['alcohol'] >= mean1) & (df['color_intensity'] >= mean2)]
#print(data)
print(data['class'].value_counts()[0])

37

In [11]:
print(data['class'].value_counts())

0    37
2    23
1     1
Name: class, dtype: int64

In [7]:
print(data['class'].value_counts().reset_index())

   index  class
0      0     37
1      2     23
2      1      1

In [12]:
# value_counts() 빈도가 가장 많은 순으로 값 출력, 인덱스 초기화, 첫번째 값 출력
print(data['class'].value_counts().reset_index().iloc[0,1])

37

In [18]:
# 3. class 1에 해당하는 데이터의 ash 평균값과 모든 데이터의 결측치를 제거한 후의 
# ash값의 평균값의 차이의 절대값을 출력하시오.(소수점 4번째 자리에서 반올림)
m1 = df[df['class']==1]['ash'].mean()
m2 = df.dropna()['ash'].mean()
print(abs(round(m1-m2,3)))

0.122

In [20]:
print(round(abs(m1-m2),3))

0.122

In [33]:
df2.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'class'],
      dtype='object')

In [35]:
# 4. alcohol 변수의 오름차순 상위 20번째 값으로 상위 20개의 값을 변환한 후, 
# proanthocyanins가 2이하인 데이터를 추출하여 alcohol의 평균값을 출력하시오(소수점 3번째 자리에서 반올림)
df2 = df.sort_values('alcohol').reset_index(drop=True)
#print(df2.loc[19,'alcohol'])
#print(df2.iloc[19,0])
df2.iloc[0:20,0] = df2.iloc[19,0]
#print(df2['alcohol'].head(20))
print(round(df2[df2['proanthocyanins'] <= 2]['alcohol'].mean(),2))

12.97

In [4]:
# 5. class 1에 해당하는 데이터의 proline변수의 제3사분위수와 제1사분위수 차를 구하고, 
# class 2에 해당하는 데이터의 proline 변수의 제3사분위수와 제1사분위수 차를 구하여 
# 두 값의 차이의 절대값을 출력하시오.
c1_q3 = df[df['class']==1]['proline'].quantile(0.75)
c1_q1 = df[df['class']==1]['proline'].quantile(0.25)
c2_q3 = df[df['class']==2]['proline'].quantile(0.75)
c2_q1 = df[df['class']==2]['proline'].quantile(0.25)
print(abs((c1_q3-c1_q1)-(c2_q3-c2_q1)))

68.5

In [39]:
df[df['class']==1]['proline'].describe()

count     71.000000
mean     519.507042
std      157.211220
min      278.000000
25%      406.500000
50%      495.000000
75%      625.000000
max      985.000000
Name: proline, dtype: float64