In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('twitch_log_220928_165000.tsv', sep='\t', header=None)
df.tail()

,0,1,2,3,4
13037,인섹_ (insec13),해위,시청자 408명,League of Legends,2022-09-28 16:50:05.226042
13038,자동 (tranth),THE KOREAN BEEF FIRE MEAT,시청자 407명,Just Chatting,2022-09-28 16:50:05.226042
13039,러끼 (luck22222),사이노 제발 사이노 제발 사이노 제발 사이노 제발 사이노 제발 사이노 제발 사이노 ...,시청자 397명,Genshin Impact,2022-09-28 16:50:05.226042
13040,유우양 (yoowooyang),태평양1) 거상 유만덕,시청자 391명,Uncharted Waters Origin,2022-09-28 16:50:05.226042
13041,오맑음_ (ohsunny0731),🧡[V]19금)싸펑 초회차 10시간 ;ㅁ;..,시청자 377명,Cyberpunk 2077,2022-09-28 16:50:05.226042

In [13]:
df.columns = ['이름', '제목','시청자수','카테고리','일시']

In [83]:
df['시청자수'] = df['시청자수'].str.replace('시청자 ', '')
df['시청자수'] = df['시청자수'].str.replace('명', '')
df.head()

,이름,제목,시청자수,카테고리,일시
0,우왁굳 (woowakgood),축구왕 왁돌이,1.4만,FIFA 23,2022-09-27 19:02:22.436272
1,침착맨 (zilioner),침&펄 저녁식사 먹기 (구독후원음성X),"9,687",Just Chatting,2022-09-27 19:02:22.436272
2,비챤_ (viichan6),6시) VRC 풀트뱅 ~!,"9,491",VRChat,2022-09-27 19:02:22.436272
3,한동숙 (handongsuk),발낳대 스크림,"8,103",VALORANT,2022-09-27 19:02:22.436272
4,괴물쥐123 (tmxk319),발낳대 전 스크림,"8,098",VALORANT,2022-09-27 19:02:22.436272

In [84]:
df1 = df[df['시청자수'].str.find('만') > 0]
df1

,이름,제목,시청자수,카테고리,일시
0,우왁굳 (woowakgood),축구왕 왁돌이,1.4만,FIFA 23,2022-09-27 19:02:22.436272
49,우왁굳 (woowakgood),축구왕 왁돌이,1.4만,FIFA 23,2022-09-27 19:05:04.699268
50,침착맨 (zilioner),침&펄 저녁식사 먹기 (구독후원음성X),1만,Just Chatting,2022-09-27 19:05:04.699268
98,우왁굳 (woowakgood),축구왕 왁돌이,1.4만,FIFA 23,2022-09-27 19:10:04.966996
99,한동숙 (handongsuk),발낳대 스크림,1만,VALORANT,2022-09-27 19:10:04.966996
...,...,...,...,...,...
6890,풍월량 (hanryang1125),중세 판타지 타르코프 리치잡으러 가자,1만,Dark and Darker,2022-09-28 06:35:05.833115
6941,풍월량 (hanryang1125),중세 판타지 타르코프 리치잡으러 가자,1만,Dark and Darker,2022-09-28 06:40:05.230915
6992,풍월량 (hanryang1125),중세 판타지 타르코프 리치잡으러 가자,1만,Dark and Darker,2022-09-28 06:45:05.747796
7043,풍월량 (hanryang1125),중세 판타지 타르코프 리치잡으러 가자,1만,Dark and Darker,2022-09-28 06:50:05.863834
7094,풍월량 (hanryang1125),중세 판타지 타르코프 리치잡으러 가자,1만,Dark and Darker,2022-09-28 06:55:05.881320

In [87]:
df2 = df1['시청자수'].str.replace('만', '').astype(float)*10000 + 500
df2

0       14500.0
49      14500.0
50      10500.0
98      14500.0
99      10500.0
         ...
6890    10500.0
6941    10500.0
6992    10500.0
7043    10500.0
7094    10500.0
Name: 시청자수, Length: 428, dtype: float64

In [121]:
df3 = df['시청자수']
df3 = df3.str.replace(',', '')
# df[df3.str.find('L')>1]
df3.iloc[:6687]
df.iloc[6680:6690]

,이름,제목,시청자수,카테고리,일시
6680,튜잉여 (tewingyeo),가자 피파 23,84,FIFA 23,2022-09-28 06:10:05.241148
6681,팔도대왕 (xistda),"에이펙스 스트리머 인사드립니다.(w.합랑,징가)",82,Apex Legends,2022-09-28 06:10:05.241148
6682,___신아___ (sinah_hs),하스 미니팩 출시! 이제 다시 갓겜이냐?,81,Hearthstone,2022-09-28 06:10:05.241148
6683,고오스트 (wkddydwns0318),NS Ghost 아령하세요,NaN,NaN,NaN
6684,NaN,시청자 81명,League of Legends,2022-09-28 06:10:05.241148,NaN
6685,기파랑하스 (kiparanghs),미니팩 체험하기,80,Hearthstone,2022-09-28 06:10:05.241148
6686,리녹_ (leenock_),본선 맵풀보고 우울해짐 테섭닫혀서방송킴,78,Age of Empires IV,2022-09-28 06:10:05.241148
6687,_모모냥_ (momonyang55),얌전한거 1시간 못갈듯,77,Teamfight Tactics,2022-09-28 06:10:05.241148
6688,풍월량 (hanryang1125),중세 판타지 타르코프 리치잡으러 가자,1.1만,Dark and Darker,2022-09-28 06:15:05.213894
6689,한동숙 (handongsuk),발낳대 스크림,"5,973",VALORANT,2022-09-28 06:15:05.213894