In [15]:
import pandas as pd
df = pd.read_csv('../주택도시보증공사_전국 신규 민간 아파트 분양가격 동향_20200331.csv', encoding='MS949')
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [17]:
# 1. 컬럼명 변경 : 분양가격(m2) -> 분양가격
df.rename({'분양가격(㎡)': '분양가격'}, axis=1, inplace=True)

In [23]:
# 2. 결측치 확인 : 0으로 치환
df.fillna(0, inplace=True)
df.isnull().sum()

지역명     0
규모구분    0
연도      0
월       0
분양가격    0
dtype: int64

In [24]:
# 3. 통계값 확인
df.describe()

                연도            월
count  4590.000000  4590.000000
mean   2017.500000     6.500000
std       1.343856     3.594368
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.500000     6.500000
75%    2019.000000    10.000000
max    2020.000000    12.000000

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4590 entries, 0 to 4589
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4590 non-null   object
 1   규모구분    4590 non-null   object
 2   연도      4590 non-null   int64
 3   월       4590 non-null   int64
 4   분양가격    4590 non-null   object
dtypes: int64(2), object(3)
memory usage: 179.4+ KB

In [93]:
# 4. 분양가격 자료형을 int로 변환
df['분양가격'] = df['분양가격'].replace('  ','0').astype(int) # 맘에는 안들지만 일단 했음

In [111]:
# 5. 규모구분에 '전용면적 ' 문자열 제거
df['규모구분'].replace('전용면적 ', '', regex=True, inplace=True)

In [125]:
# 6. 분양가격이 없는 데이터(0) 삭제
df.drop(df[df['분양가격']==0].index, inplace=True)

In [131]:
# 7. 지역별 평균 분양가격 확인
df.groupby('지역명')['분양가격'].mean()

지역명
강원    2419.072797
경기    4087.385185
경남    2817.060606
경북    2548.451362
광주    3066.281106
대구    3679.222222
대전    3132.873239
부산    3687.429630
서울    7268.218519
세종    2993.287402
울산    3046.746914
인천    3645.875940
전남    2316.270677
전북    2352.917603
제주    3440.598291
충남    2506.089147
충북    2320.633333
Name: 분양가격, dtype: float64

In [132]:
# 8. 지역별 가장 비싼 분양가격 확인
df.groupby('지역명')['분양가격'].max()

지역명
강원     3906
경기     5670
경남     4303
경북     3457
광주     4881
대구     5158
대전     4877
부산     4623
서울    13835
세종     3931
울산     3594
인천     5188
전남     3692
전북     3052
제주     5462
충남     3201
충북     2855
Name: 분양가격, dtype: int32

In [135]:
# 9. 연도별 평균 분양가격 확인
df.groupby('연도')['분양가격'].mean()

연도
2015    2788.707819
2016    2934.250000
2017    3143.311795
2018    3326.951034
2019    3693.422149
2020    3856.074890
Name: 분양가격, dtype: float64

In [136]:
# 10. 연도별 규모구분별 분양가격 확인
# 방법 1
df.groupby(['연도','규모구분'])['분양가격'].mean()

연도    규모구분
2015  102㎡초과          2980.977778
      60㎡이하           2712.583333
      60㎡초과 85㎡이하     2694.490196
      85㎡초과 102㎡이하    2884.395833
      전체              2694.862745
2016  102㎡초과          3148.099476
      60㎡이하           2848.144279
      60㎡초과 85㎡이하     2816.965686
      85㎡초과 102㎡이하    3067.380435
      전체              2816.073529
2017  102㎡초과          3427.649746
      60㎡이하           3112.538071
      60㎡초과 85㎡이하     2981.950980
      85㎡초과 102㎡이하    3204.075145
      전체              3008.279412
2018  102㎡초과          3468.355932
      60㎡이하           3286.184783
      60㎡초과 85㎡이하     3227.458128
      85㎡초과 102㎡이하    3467.184211
      전체              3235.098522
2019  102㎡초과          4039.854839
      60㎡이하           3486.910112
      60㎡초과 85㎡이하     3538.545918
      85㎡초과 102㎡이하    3933.538462
      전체              3515.974490
2020  102㎡초과          4197.090909
      60㎡이하           3626.500000
      60㎡초과 85㎡이하     3593.117647
      85㎡초과 102㎡이하    4537.757576
      전체              3599.803922
Name: 분양가격, dtype: float64

In [140]:
# 방법 2
import numpy as np
pd.pivot_table(df, index='연도', columns='규모구분', values='분양가격').round(2)
pd.pivot_table(df, index='연도', columns='규모구분', values='분양가격', aggfunc=lambda p: round(np.mean(p), 2))

규모구분   102㎡초과    60㎡이하  60㎡초과 85㎡이하  85㎡초과 102㎡이하       전체
연도
2015  2980.98  2712.58      2694.49       2884.40  2694.86
2016  3148.10  2848.14      2816.97       3067.38  2816.07
2017  3427.65  3112.54      2981.95       3204.08  3008.28
2018  3468.36  3286.18      3227.46       3467.18  3235.10
2019  4039.85  3486.91      3538.55       3933.54  3515.97
2020  4197.09  3626.50      3593.12       4537.76  3599.80