In [1]:
# 설치 안된 경우에는 
# !pip install cx_Oracle
import cx_Oracle
con = cx_Oracle.connect("bigdb/bigdb1234!@#$@115.21.253.187/xe")  # username/password@host/SID

In [3]:
cur = con.cursor()
cur.execute('SELECT * FROM item')
rows = cur.fetchall()
for row in rows:
    print(row)

('M0001', 'SPECIAL_SET', '온라인_전용상품', 'COMBO', 24000)
('M0002', 'PASTA', '파스타', 'FOOD', 12000)
('M0003', 'PIZZA', '피자', 'FOOD', 17000)
('M0004', 'SEA_FOOD', '씨푸드', 'FOOD', 25000)
('M0005', 'STEAK', '스테이크', 'FOOD', 35000)
('M0006', 'SALAD_BAR', '샐러드바', 'COMBO', 25000)
('M0007', 'SALAD', '샐러드', 'FOOD', 15000)
('M0008', 'SANDWICH', '샌드위치', 'FOOD', 10000)
('M0009', 'WINE', '와인', 'BEVERAGE', 8000)
('M0010', 'JUICE', '주스', 'BEVERAGE', 6000)

In [267]:
# pandas에서 sql 실행
import pandas as pd
item = pd.read_sql('SELECT * FROM item', con)
order_info = pd.read_sql('SELECT * FROM order_info', con)
reservation = pd.read_sql('SELECT * FROM reservation', con)
customer = pd.read_sql('SELECT * FROM customer', con)
address = pd.read_sql('SELECT * FROM address', con)

E:\kdigital_a\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
E:\kdigital_a\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
E:\kdigital_a\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
E:\kdigital_a\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
E:\kdigital_a\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [2]:
import pickle
import gzip
data = {
    'item':item,
    'reservation':reservation,
    'order_info':order_info,
    'customer':customer,
    'address':address
}
# save and compress.
with gzip.open('restrant.pickle', 'wb') as f:
    pickle.dump(data, f)

NameError: name 'item' is not defined

In [55]:
import pickle, gzip
with gzip.open('restrant.pickle', 'rb') as f:
    data = pickle.load(f)
data

{'item':   ITEM_ID PRODUCT_NAME PRODUCT_DESC CATEGORY_ID  PRICE
 0   M0001  SPECIAL_SET     온라인_전용상품       COMBO  24000
 1   M0002        PASTA          파스타        FOOD  12000
 2   M0003        PIZZA           피자        FOOD  17000
 3   M0004     SEA_FOOD          씨푸드        FOOD  25000
 4   M0005        STEAK         스테이크        FOOD  35000
 5   M0006    SALAD_BAR         샐러드바       COMBO  25000
 6   M0007        SALAD          샐러드        FOOD  15000
 7   M0008     SANDWICH         샌드위치        FOOD  10000
 8   M0009         WINE           와인    BEVERAGE   8000
 9   M0010        JUICE           주스    BEVERAGE   6000,
 'reservation':       RESERV_NO RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH  VISITOR_CNT CANCEL
 0    2017082701    20170827        1800    W1340914     마포            2      N
 1    2017082602    20170826        1200     W341658     동작            5      N
 2    2017082601    20170826        1800    W1328993     강북            4      N
 3    2017082501    20170825        1800    W1340463     용산            2      N
 4    2017082401    20170824        1200    W1344912     강동            3      N
 ..          ...         ...         ...         ...    ...          ...    ...
 391  2017091901    20170919        1800    W1328505     강남            5      N
 392  2017091801    20170918        1200     W345397     송파            1      N
 393  2017091702    20170917        1200     W343277     성북            5      N
 394  2017091701    20170917        1800    W1337923     강남            7      N
 395  2017091601    20170916        1200    W1348303    영등포            2      N

 [396 rows x 7 columns],
 'order_info':                ORDER_NO ITEM_ID   RESERV_NO  QUANTITY   SALES
 0    171228137840110010   M0003  2017122805         1   17000
 1    171228137837810010   M0001  2017122806        10  240000
 2    171228547385810010   M0003  2017122807         2   34000
 3    171228567831310010   M0008  2017122808         1   10000
 4    171228567430310010   M0005  2017122809         4  140000
 ..                  ...     ...         ...       ...     ...
 386  171215547862510010   M0002  2017121502         3   36000
 387  171215547862510010   M0009  2017121502         3   24000
 388  171215137422210010   M0008  2017121503         1   10000
 389  171215181000524010   M0001  2017121504         1   24000
 390  171216137421910010   M0007  2017121602         4   60000

 [391 rows x 5 columns],
 'customer':     CUSTOMER_ID CUSTOMER_NAME   PHONE_NUMBER                EMAIL  \
 0       W363739         고객170  010-1111-1280  scust170@sfnb.co.kr
 1       W365779         고객171  010-1111-1281  scust171@sfnb.co.kr
 2       W366551         고객172  010-1111-1282  scust172@sfnb.co.kr
 3       W366641         고객173  010-1111-1283  scust173@sfnb.co.kr
 4       W367946         고객174  010-1111-1284  scust174@sfnb.co.kr
 ..          ...           ...            ...                  ...
 178     W357565         고객165  010-1111-1275  scust165@sfnb.co.kr
 179     W359004         고객166  010-1111-1276  scust166@sfnb.co.kr
 180     W359156         고객167  010-1111-1277  scust167@sfnb.co.kr
 181     W359586         고객168  010-1111-1278  scust168@sfnb.co.kr
 182     W363413         고객169  010-1111-1279  scust169@sfnb.co.kr

     FIRST_REG_DATE SEX_CODE     BIRTH   JOB ZIP_CODE
 0       2017-11-08     None  19871104  None   120100
 1       2017-11-16     None  19990201    학생   139100
 2       2017-11-19        F  19850727    대표   157100
 3       2017-11-20        F  19940922  None   151100
 4       2017-11-24        M  19901127  None   135100
 ..             ...      ...       ...   ...      ...
 178     2017-10-23     None  19891111   회사원   121100
 179     2017-10-29     None  19880618  None   135100
 180     2017-10-30        M      None  None   137100
 181     2017-10-31        F  19920112  엔지니어   121100
 182     2017-11-07     None      None  None   140100

 [183 rows x 9 columns],
 'address':    ZIP_CODE ADDRESS_DETAIL
 0    135100            강남구
 1    134100            강동구
 2    157100            강서구
 3    142100            강북구
 4    151100            관악구
 5    143100            광진구
 6    152100            구로구
 7    153100            금천구
 8    139100            노원구
 9    130100           동대문구
 10   132100            도봉구
 11   156100            동작구
 12   121100            마포구
 13   120100           서대문구
 14   133600            성동구
 15   136100            성북구
 16   137100            서초구
 17   138100            송파구
 18   150100           영등포구
 19   140100            용산구
 20   158100            양천구
 21   122100            은평구
 22   110100            종로구
 23   100100             중구
 24   131100            중랑구}

In [56]:
item = data.get('item')
order_info = data.get('order_info')
reservation = data.get('reservation')
customer = data.get('customer')
address = data.get('address')

In [95]:
# 매출분석
import numpy as np
re = order_info['SALES'].agg({'총주문건': len, '총매출합계': sum, '평균매출': np.mean, '최고매출' :max, '최저매출':min}).astype(int)
re

총주문건          391
총매출합계    24957000
평균매출        63828
최고매출       552000
최저매출         6000
Name: SALES, dtype: int32

In [105]:
pd.DataFrame([order_info['SALES'].agg({'총주문건': len, '총매출합계': sum, '평균매출': np.mean, '최고매출' :max, '최저매출':min}).astype(int)])

       총주문건     총매출합계   평균매출    최고매출  최저매출
SALES   391  24957000  63828  552000  6000

In [106]:
# 3. 매출 비교분석
item, reservation,order_info,customer,address

(  ITEM_ID PRODUCT_NAME PRODUCT_DESC CATEGORY_ID  PRICE
 0   M0001  SPECIAL_SET     온라인_전용상품       COMBO  24000
 1   M0002        PASTA          파스타        FOOD  12000
 2   M0003        PIZZA           피자        FOOD  17000
 3   M0004     SEA_FOOD          씨푸드        FOOD  25000
 4   M0005        STEAK         스테이크        FOOD  35000
 5   M0006    SALAD_BAR         샐러드바       COMBO  25000
 6   M0007        SALAD          샐러드        FOOD  15000
 7   M0008     SANDWICH         샌드위치        FOOD  10000
 8   M0009         WINE           와인    BEVERAGE   8000
 9   M0010        JUICE           주스    BEVERAGE   6000,
       RESERV_NO RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH  VISITOR_CNT CANCEL
 0    2017082701    20170827        1800    W1340914     마포            2      N
 1    2017082602    20170826        1200     W341658     동작            5      N
 2    2017082601    20170826        1800    W1328993     강북            4      N
 3    2017082501    20170825        1800    W1340463     용산            2      N
 4    2017082401    20170824        1200    W1344912     강동            3      N
 ..          ...         ...         ...         ...    ...          ...    ...
 391  2017091901    20170919        1800    W1328505     강남            5      N
 392  2017091801    20170918        1200     W345397     송파            1      N
 393  2017091702    20170917        1200     W343277     성북            5      N
 394  2017091701    20170917        1800    W1337923     강남            7      N
 395  2017091601    20170916        1200    W1348303    영등포            2      N

 [396 rows x 7 columns],
                ORDER_NO ITEM_ID   RESERV_NO  QUANTITY   SALES
 0    171228137840110010   M0003  2017122805         1   17000
 1    171228137837810010   M0001  2017122806        10  240000
 2    171228547385810010   M0003  2017122807         2   34000
 3    171228567831310010   M0008  2017122808         1   10000
 4    171228567430310010   M0005  2017122809         4  140000
 ..                  ...     ...         ...       ...     ...
 386  171215547862510010   M0002  2017121502         3   36000
 387  171215547862510010   M0009  2017121502         3   24000
 388  171215137422210010   M0008  2017121503         1   10000
 389  171215181000524010   M0001  2017121504         1   24000
 390  171216137421910010   M0007  2017121602         4   60000

 [391 rows x 5 columns],
     CUSTOMER_ID CUSTOMER_NAME   PHONE_NUMBER                EMAIL  \
 0       W363739         고객170  010-1111-1280  scust170@sfnb.co.kr
 1       W365779         고객171  010-1111-1281  scust171@sfnb.co.kr
 2       W366551         고객172  010-1111-1282  scust172@sfnb.co.kr
 3       W366641         고객173  010-1111-1283  scust173@sfnb.co.kr
 4       W367946         고객174  010-1111-1284  scust174@sfnb.co.kr
 ..          ...           ...            ...                  ...
 178     W357565         고객165  010-1111-1275  scust165@sfnb.co.kr
 179     W359004         고객166  010-1111-1276  scust166@sfnb.co.kr
 180     W359156         고객167  010-1111-1277  scust167@sfnb.co.kr
 181     W359586         고객168  010-1111-1278  scust168@sfnb.co.kr
 182     W363413         고객169  010-1111-1279  scust169@sfnb.co.kr

     FIRST_REG_DATE SEX_CODE     BIRTH   JOB ZIP_CODE
 0       2017-11-08     None  19871104  None   120100
 1       2017-11-16     None  19990201    학생   139100
 2       2017-11-19        F  19850727    대표   157100
 3       2017-11-20        F  19940922  None   151100
 4       2017-11-24        M  19901127  None   135100
 ..             ...      ...       ...   ...      ...
 178     2017-10-23     None  19891111   회사원   121100
 179     2017-10-29     None  19880618  None   135100
 180     2017-10-30        M      None  None   137100
 181     2017-10-31        F  19920112  엔지니어   121100
 182     2017-11-07     None      None  None   140100

 [183 rows x 9 columns],
    ZIP_CODE ADDRESS_DETAIL
 0    135100            강남구
 1    134100            강동구
 2    157100            강서구
 3    142100            강북구
 4    151100            관악구
 5    143100            광진구
 6    152100            구로구
 7    153100            금천구
 8    139100            노원구
 9    130100           동대문구
 10   132100            도봉구
 11   156100            동작구
 12   121100            마포구
 13   120100           서대문구
 14   133600            성동구
 15   136100            성북구
 16   137100            서초구
 17   138100            송파구
 18   150100           영등포구
 19   140100            용산구
 20   158100            양천구
 21   122100            은평구
 22   110100            종로구
 23   100100             중구
 24   131100            중랑구)

In [135]:
order_info['SALES'].sum()
item.head()
order_info[order_info['ITEM_ID'] == 'M0001']['SALES'].agg([len, sum])
re1 = pd.DataFrame([order_info['SALES'].agg({'총주문건수':len, '총매출합계':sum})])
re2 = pd.DataFrame([order_info[order_info['ITEM_ID'] == 'M0001']['SALES'].agg({'온라인전용상품주문건수':len, '온라인전용상품매출합계':sum})])
report2 = pd.concat([re1, re2], axis=1)
report2

       총주문건수     총매출합계  온라인전용상품주문건수  온라인전용상품매출합계
SALES    391  24957000           59      5808000

In [148]:
report2['주문건수비율'] = (report2['온라인전용상품주문건수']/report2['총주문건수']*100).round(2)
report2['매출합계비율'] = (report2['온라인전용상품매출합계']/report2['총매출합계']*100).round(2)
report2

       총주문건수     총매출합계  온라인전용상품주문건수  온라인전용상품매출합계  주문건수비율  매출합계비율
SALES    391  24957000           59      5808000   15.09   23.27

In [155]:
# 4. 상품별 매출분석
pd.merge(item, order_info, on='ITEM_ID').groupby(['ITEM_ID','PRODUCT_NAME'])['SALES'].sum()

ITEM_ID  PRODUCT_NAME
M0001    SPECIAL_SET     5808000
M0002    PASTA           1968000
M0003    PIZZA           1666000
M0004    SEA_FOOD        1625000
M0005    STEAK           9380000
M0006    SALAD_BAR       2075000
M0007    SALAD            525000
M0008    SANDWICH         610000
M0009    WINE             856000
M0010    JUICE            444000
Name: SALES, dtype: int64

In [166]:
report3 = pd.DataFrame(pd.merge(item, order_info, on='ITEM_ID').groupby(['ITEM_ID','PRODUCT_NAME'])['SALES'].sum())
report3 = report3.rename(columns={'SALES':'매출합계'})
report3.sort_values('매출합계', ascending=False)

                         매출합계
ITEM_ID PRODUCT_NAME
M0005   STEAK         9380000
M0001   SPECIAL_SET   5808000
M0006   SALAD_BAR     2075000
M0002   PASTA         1968000
M0003   PIZZA         1666000
M0004   SEA_FOOD      1625000
M0009   WINE           856000
M0008   SANDWICH       610000
M0007   SALAD          525000
M0010   JUICE          444000

In [214]:
# 5. 월별 상품 매출 분석(시계열 분석)
item, reservation,order_info,customer,address
order_info['RESERV_NO'] = order_info['RESERV_NO'].str[:6]
temp = pd.merge(order_info, item, on='ITEM_ID', how='left')
# temp['SALES'].fillna(0).astype(int)
temp = pd.pivot_table(temp, index='RESERV_NO', columns='PRODUCT_NAME', values='SALES', aggfunc=sum)
temp.fillna(0).astype(int)

PRODUCT_NAME,JUICE,PASTA,PIZZA,SALAD,SALAD_BAR,SANDWICH,SEA_FOOD,SPECIAL_SET,STEAK,WINE
RESERV_NO,,,,,,,,,,
201706,12000,24000,0,30000,0,10000,0,144000,385000,8000
201707,36000,228000,102000,0,200000,70000,175000,408000,525000,0
201708,42000,108000,136000,15000,175000,90000,225000,336000,455000,40000
201709,48000,120000,238000,90000,200000,30000,300000,264000,280000,16000
201710,102000,336000,391000,135000,425000,40000,200000,552000,1120000,32000
201711,174000,492000,544000,105000,400000,150000,425000,888000,1715000,304000
201712,30000,660000,255000,150000,675000,220000,300000,3216000,4900000,456000

In [17]:
# 6. 월별 총 매출, 전용상품 매출 비교분석
order_info.head()
order_info['RESERV_NO'] = order_info['RESERV_NO'].str[:6]
re6_1 = order_info.groupby('RESERV_NO')['SALES'].sum()
re6_2 = order_info[order_info['ITEM_ID']=='M0001'].groupby('RESERV_NO')['SALES'].sum()
report6 = pd.concat([re6_1, re6_2], axis=1)
report6 = pd.DataFrame(report6)
report6.columns = ['매출합계', 'SPECIAL_SET']
report6

               매출합계  SPECIAL_SET
RESERV_NO
201706       613000       144000
201707      1744000       408000
201708      1622000       336000
201709      1586000       264000
201710      3333000       552000
201711      5197000       888000
201712     10862000      3216000

In [48]:
# 7. 매출 기여율
import pandas as pd
import numpy as np
report7 = report6.copy()
report7['년월'] = report7.index
report7['ETC'] = report6['매출합계']-report6['SPECIAL_SET']
# report6['매출합계']-report6['SPECIAL_SET']
report7['매출기여율'] = round(report6['SPECIAL_SET'] / report6['매출합계'] * 100 ,1)
report7 = report7[['년월', 'ETC', 'SPECIAL_SET', '매출기여율']]
report7.reset_index(drop=True, inplace=True)
report7.index = np.arange(1, len(report7)+1)
report7

       년월      ETC  SPECIAL_SET  매출기여율
1  201706   469000       144000   23.5
2  201707  1336000       408000   23.4
3  201708  1286000       336000   20.7
4  201709  1322000       264000   16.6
5  201710  2781000       552000   16.6
6  201711  4309000       888000   17.1
7  201712  7646000      3216000   29.6

# 8. 예약 완료/취소건 분석
reservation['년월']=reservation['RESERV_DATE'].str[:6]
order_info['년월']=order_info['RESERV_NO'].str[:6]

reservation['년월'][reservation['CANCEL']=='N'].value_counts(), reservation['년월'][reservation['CANCEL']=='Y'].value_counts(), reservation['년월'].value_counts(), order_info[['년월']].value_counts()
report8 = order_info
report8[report8['ITEM_ID']=='M0001']
report8 = report8[['년월','SALES']].groupby('년월').sum()
report8['ETC'] = order_info[['년월','SALES']][order_info['ITEM_ID'] != 'M0001'].groupby('년월').sum()
report8['SPECIAL_SET'] = order_info[['년월','SALES']][order_info['ITEM_ID'] == 'M0001'].groupby('년월').sum()
report8['매출기여율'] = round((report8['SPECIAL_SET'] / report8['SALES'] * 100), 1)

reservation['년월'][reservation['CANCEL']=='N'].value_counts(), reservation['년월'][reservation['CANCEL']=='Y'].value_counts(), reservation['년월'].value_counts(), order_info[['년월']].value_counts()
pd.concat([report8, order_info[['년월']].value_counts()])
order_info[['년월']].value_counts()